<form id="forgot-pwd-form" method="post">
  <a href="/account/login" class="back-btn">
    <img src="/assets/svg/auth/back.svg" alt="back-icon">
  </a>
  <div class="form-content-forgot">
    <div class="forgot-title">Forgot Password</div>
    {{!-- Message --}}
    <div class="message">
      <p>Enter your email address</p>
    </div>
    {{! Email }}
    <div class="form-group-forgot">
      <input name="email" type="text" id="txtForgotEmail" placeholder="Enter your email" />
    </div>
    {{! Button submit }}
    <div class="submit-btn">
      <button type="submit">Continue</button>
    </div>
    {{! footer of form }}
  </div>
</form>

<script>
  const messageReceived = "{{message}}";
  if (messageReceived != "") {
    if (messageReceived == "You can not use this feature because this account is already used with social media platform.") {
      window.location.replace("http://localhost:5000/account/login");
    }
    alert(`${messageReceived}`);
  }
  $('#forgot-pwd-form').on('submit', function (e) {
    e.preventDefault();
    if ($('#txtForgotEmail').val().trim().length === 0) { alert("Email must be not empty. Please try again"); return; }
    if (!/[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,4}$/.test($('#txtForgotEmail').val().trim())) {
      alert("Please provide a valid email address.");
      return;
    }
    $('#forgot-pwd-form').off('submit').submit();
  })
  $('.back-btn').on('click', (e) => {
    e.preventDefault();
    history.back();
  })
</script>