<form id="login-form" method="post">
  <div class="form-content">
    <div class="title">Log in to your account</div>
    {{!  email}}
    <div class="form-group">
      <label for="full-name" class="full-name">Email</label>
      <input name = "email" type="text" id="txtEmail" placeholder="Enter your email" value="{{#if props.historyEmail }}{{props.historyEmail}}{{/if}}" />
    </div>
    {{!  password}}
    <div class="form-group">
      <label for="full-name" class="password">Password</label>
      <input name = "password" type="password" id="txtPassword" placeholder="Enter your password" />
      <button class="eyes" type = "button">
        {{!-- <img src="/assets/svg/auth/eyes.svg" alt="eye" /> --}}
         <i class="bi bi-eye-slash" class = "eyes-customize" id="togglePassword"></i>
      </button>
    </div>
    {{! forgot password button }}
    <div class="forgot-password"><a href="/account/forgot-password">Forgot
        password?</a></div>
    {{! Button submit }}
    <div class="submit-btn">
      <button type = "submit">Log In</button>
    </div>
    {{! create an account if not have yet}}
    <div class="footer">
      <p>Not registered yet? <a href="/account/signup">Create an Account</a></p>
    </div>
    {{! line break }}
    <hr class="line-break" />
    {{! Login using social media platform }}
    <p class="social-media-title">Or connect with Social Media</p>
    {{! 3 buttons as 3 social media platform }}
    <div class="social-media">
        <a href = "/auth/facebook" id="facebook-btn">
        <img src="/assets/svg/auth/facebook.svg" alt="facebook-icon" />
        </a>
        <a href = "/auth/github" id="github-btn">
        <img src="/assets/svg/auth/github.svg" alt="github-icon" />
        </a>
        <a href = "/auth/google" id = "google-btn">
        <img src="/assets/svg/auth/google.svg" alt="google-icon" />
        </a>
    </div>
  </div>
</form>
<script>
  // disable 3 buttons type submit social media 
  $('.facebook-btn').attr("disabled", true);
  const messageReceived = "{{message}}";
  if (messageReceived !== "success" && messageReceived != "")
  {
    alert(`${messageReceived}`);
  }
  else if (messageReceived == "success")
  {
    window.location.replace("http://localhost:5000/");
  }
  // submit login form
  $('#login-form').on('submit', (e) => {
  e.preventDefault(); 
  const email = $('#txtEmail').val().trim(); 
  const password = $('#txtPassword').val().trim(); 
  if (email.length === 0 || password.length === 0) { 
    alert("Please fill all the fields");
    return;
  } 
  if (password.length < 8) {alert("Password must be at least 8 characters..."); return;}
  $('#login-form').off('submit').submit();
  });

  // toggle password visibility
  $(".eyes").on('click', (e) =>
  {
    e.preventDefault();
    const password = document.querySelector('#txtPassword');
    // toggle the type attribute
    const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
    password.setAttribute('type', type);
    // toggle the eye / eye slash icon
    this.classList.toggle("bi-eye");
  })
</script>

