<form id="new-pwd-form" method="post">
  <a href = "/account/login" class = "back-btn">
    <img src="/assets/svg/auth/back.svg" alt="back-icon">
  </a>
  <div class="form-content-new">
    <div class="new-pwd-title">New Password</div>
    {{!-- Message --}}
    <div class = "message">
        <p>Please create a new password that you don't use on any other site</p>
    </div>
    {{!  New password }}
    <div class="form-group-new-pwd">
      <input name = "password" type="password" id="txtNewPassword" placeholder="Create new password" />
       <button class="password-shown" type = "button">
        {{!-- <img src="/assets/svg/auth/eyes.svg" alt="eye" /> --}}
         <i class="bi bi-eye-slash" class = "eyes-customize" id="togglePassword"></i>
      </button>
    </div>
    {{!  Confirm New password }}
    <div class="form-group-new-pwd">
      <input name = "passwordConfirm" type="password" id="txtPasswordConfirm" placeholder="Confirm your password" />
      <button class="confirm-password-shown" type = "button">
        {{!-- <img src="/assets/svg/auth/eyes.svg" alt="eye" /> --}}
         <i class="bi bi-eye-slash" class = "eyes-customize" id="togglePassword"></i>
      </button>
    </div>
    {{! Button submit }}
    <div class="submit-btn">
      <button type = "submit">Reset password</button>
    </div>
    {{! footer of form }}
  </div>
</form>

<script>
  const messageReceived = "{{message}}";
  if (messageReceived != "" && messageReceived != "success")
  {
    alert(`${messageReceived}`);
  }
  else if (messageReceived == "success")
  {
    alert("You reset password successfully. Please log in to your account...");
    window.location.replace("http://localhost:5000/account/login");
  }
  // submit form
  $("#new-pwd-form").on('submit', (e) => {
    e.preventDefault();
    if ($('#txtNewPassword').val().trim().length === 0 || $('#txtPasswordConfirm').val().trim().length === 0) { 
      alert("Please fill all the fields");
      return;
    } 
    if ($('#txtNewPassword').val().trim().length < 8) {alert("Password must be at least 8 characters..."); return;}
    if ($('#txtNewPassword').val() !== $('#txtPasswordConfirm').val()) { alert("Password and Password Confirm must be match."); return;} 
    if ($('#txtNewPassword').val().trim().length == 0 || $('#txtPasswordConfirm').val().trim().length == 0)
    {
      alert('Please fill all the fields...');
      return;
    }
    $("#new-pwd-form").off('submit').submit();
  })
    $('.back-btn').on('click', (e) => {
        e.preventDefault();
        history.back();
    })
  // toggle password visibility
  $(".password-shown").on('click', (e) =>
  {
    e.preventDefault();
    const password = document.querySelector('#txtNewPassword');
    // toggle the type attribute
    const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
    password.setAttribute('type', type);
    // toggle the eye / eye slash icon
    this.classList.toggle("bi-eye");
  })
  $(".confirm-password-shown").on('click', (e) =>
  {
    e.preventDefault();
    const confirm_password = document.querySelector('#txtPasswordConfirm');
    // toggle the type attribute
    const type = confirm_password.getAttribute('type') === 'password' ? 'text' : 'password';
    confirm_password.setAttribute('type', type);
    // toggle the eye / eye slash icon
    this.classList.toggle("bi-eye");
  })
</script> 