<div class="wishlist">
  <header>
    <p class="title">my learning</p>
    <div class="menu">
      <a href="/my-courses">My courses</a>
      <p>My lists</p>
      <p class="wishlistMenuChosen">Wishlist</p>
      <p>Archived</p>
      <p>Learning tools</p>
    </div>
  </header>
  <main>
    {{! course item }}


  </main>
  <script>
    $(".wishlist > header > .menu > .option3").click(function(){
      $(".wishlist > header > .menu > .option3").addClass("wishlistMenuChosen")
      $(".wishlist > header > .menu > .option1").removeClass("wishlistMenuChosen")
    })
    $(".wishlist > header > .menu > .option1").click(function(){
      $(".wishlist > header > .menu > .option1").addClass("wishlistMenuChosen")
      $(".wishlist > header > .menu > .option3").removeClass("wishlistMenuChosen")
    })

    const addItem=(item,index)=>{
      $("main").append(``)
    }

    const itemList =JSON.parse(`{{{courses}}}`)
    itemList.forEach(addItem)

  </script>
</div>