<footer class="footer">
    <div class="first">
        <div class="heading">
            <b class="title">ACADEMY</b>
            <a href="#facebook"><img src="/assets/svg/socials/facebook.svg" alt="facebook" /></a>
            <a href="#youtube"><img src="/assets/svg/socials/youtube.svg" alt="youtube" /></a>
            <a href="#twitter"><img src="/assets/svg/socials/twitter.svg" alt="twitter" /></a>
        </div>
        <div class="email-group">
            <b>Email: </b>
            <a class="link" href="mailto:contact.academy@gmail.com">contact.academy@gmail.com</a>
        </div>
    </div>
    <div class="second">
        <div class="info-group">
            <a href="#about">About us</a>
            <a href="#contact">Contact us</a>
            <a href="#FAQ">FAQ</a>
        </div>
        <div class="info-group">
            <a href="#teaching">Teaching</a>
            <a href="#certificate">Get certificate</a>
            <a href="#rules">Rules</a>
        </div>
        <div class="info-group">
            <a href="#terms">Terms</a>
            <a href="#policy">Privacy policy</a>
        </div>
    </div>
    <form class="third">
        <label for="followEmail">Follow us</label>
        <input id="followEmail" type="text" placeholder="Enter your email..." required />
        <button type="submit" class="button-cs">Follow</button>
    </form>
    <a title="top" href="#top" class="button-cs"><i class="fa-solid fa-angles-up"></i></a>
    <div class="copyright"><i class="fa-regular fa-copyright"></i> 2022 <b>Academy</b></div>
</footer>