<nav class="navbar">
    <a class="link title" href="./">Academy</a>
    <form class="search-form" action="./" method="GET">
        <button type="submit" class="search-btn">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
        <input class="search-bar" name="q" type="search" placeholder="search for anything" />
    </form>
    <a class="link" href="./">Home</a>
    <a class="link" href="#pages">Pages <i class="fa-solid fa-chevron-down"></i></a>
    <a class="link" href="#courses">Courses <i class="fa-solid fa-chevron-down"></i></a>
    <a class="link" href="#about">About</a>
    <button class="shopping__cart-btn">
        <img class="icon" src="/assets/svg/home/cart.svg" alt="shopping-cart" />
        <span class="active-dot">1</span>
    </button>
    <a class="link join-btn" href="/account/login">Join now</a>
</nav>