<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    
    <title>Admin - Online Academy{{#if HTMLTitle}} - {{HTMLTitle}}{{/if}}</title>

    <link rel="stylesheet" href="/assets/css/admin/styles.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <script src="https://kit.fontawesome.com/46668bc562.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/assets/bootstrap.min.css" type="text/css" />
    
    <link rel="stylesheet" href="/assets/css/index.css" type="text/css" />
    {{!-- END GLOBAL --}}

    <link rel="stylesheet" href="/assets/css/home/home.css" type="text/css" />


  </head>
  <body>
    <div class="container-fluid" style="font-family: Montserrat !important;">

      <div class="row">
        <div
          class="col-sm-2"
          style="box-shadow: 0 0 1rem #808080; height: 60rem; width: 20rem;"
        >
          <img
            src="/assets/images/admin/test.jpg"
            class="rounded-circle mx-auto d-block mt-4"
            alt="Error"
            width="100"
            height="100"
          />
          <h3 class="text-center mt-4 mb-0" style="font-weight: 700; font-size: 1.5rem;">{{authUser.name}}</h3>
          <p class="text-center" style="color:#808080; font-size: 1.2rem;">{{authUser.email}}</p>

          <ul class="nav flex-column mx-0">
            <li class="nav-item 5 mt-5 mb-2 w-100 py-3 li-cat{{#if (eq handlebars 'admin/categories')}} itemMenuAdminChosen {{/if}}">
              <a class="cat" href="/admin/categories" style="text-decoration: none">
                <h2  class="aaa mt-2 {{#if (eq handlebars 'admin/categories')}} textMenuAdminChosen {{/if}}" style="margin-left: 2rem;">
                <svg
                    fill="none"
                    class="icon {{#if (eq handlebars 'admin/categories')}} textMenuAdminChosen{{/if}}"
                    width="32"
                    height="26"
                    viewBox="0 0 32 26"
                    xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                      d="M14.6945 0.26377C15.5223 -0.0866211 16.4778 -0.0866211 17.3056 0.26377L29.4501 5.39268C29.9223 5.59072 30.2223 6.02236 30.2223 6.49971C30.2223 6.97705 29.9223 7.40869 29.4501 7.60674L17.3056 12.7356C16.4778 13.086 15.5223 13.086 14.6945 12.7356L2.55005 7.60674C2.07783 7.40361 1.77783 6.97197 1.77783 6.49971C1.77783 6.02744 2.07783 5.59072 2.55005 5.39268L14.6945 0.26377ZM26.4945 10.6435L29.4501 11.8927C29.9223 12.0907 30.2223 12.5224 30.2223 12.9997C30.2223 13.4771 29.9223 13.9087 29.4501 14.1067L17.3056 19.2356C16.4778 19.586 15.5223 19.586 14.6945 19.2356L2.55005 14.1067C2.07783 13.9036 1.77783 13.472 1.77783 12.9997C1.77783 12.5274 2.07783 12.0907 2.55005 11.8927L5.50561 10.6435L13.9501 14.2083C15.2501 14.7567 16.7501 14.7567 18.0501 14.2083L26.4945 10.6435V10.6435ZM18.0501 20.7083L26.4945 17.1435L29.4501 18.3927C29.9223 18.5907 30.2223 19.0224 30.2223 19.4997C30.2223 19.9771 29.9223 20.4087 29.4501 20.6067L17.3056 25.7356C16.4778 26.086 15.5223 26.086 14.6945 25.7356L2.55005 20.6067C2.07783 20.4036 1.77783 19.972 1.77783 19.4997C1.77783 19.0274 2.07783 18.5907 2.55005 18.3927L5.50561 17.1435L13.9501 20.7083C15.2501 21.2567 16.7501 21.2567 18.0501 20.7083Z"
                  ></path>
                </svg>
                  &nbsp;Category</h2>
              </a>
            </li>
            <li class="nav-item my-2 w-100 py-3 li-cou {{#if (eq handlebars 'admin/courses')}} itemMenuAdminChosen {{/if}}">
              <a class="cou" href="/admin/courses" style="text-decoration: none">
                <h2 class="aaa mt-2 {{#if (eq handlebars 'admin/courses')}} textMenuAdminChosen {{/if}}" style="margin-left: 2rem;">
                  <svg
                    fill="none"
                    class="icon {{#if (eq handlebars 'admin/courses')}} textMenuAdminChosen {{/if}}"
                    width="32"
                    height="26"
                    viewBox="0 0 34 22"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M22.8167 3.09684L23.7077 16.7116L23.0597 16.6965C20.921 16.6515 18.8309 17.1768 17.0001 18.2276C15.1693 17.1768 13.0792 16.6965 10.9404 16.6965C8.2509 16.6965 6.09603 17.282 3.64957 18.2126L5.49661 4.0875C7.18161 3.44202 9.12587 3.09684 10.9405 3.09684C13.3709 3.09684 15.2989 3.81734 17.0001 5.42346C18.6365 3.87739 20.4835 3.14184 22.8167 3.09684ZM33.5911 21.5C32.0843 21.5 30.7881 21.2148 29.4271 20.6444C27.4019 19.7888 25.2956 19.2784 23.0597 19.2784C20.759 19.2784 18.6365 19.984 17.0001 21.5C15.3637 19.9839 13.2412 19.2784 10.9405 19.2784C8.70465 19.2784 6.59836 19.7888 4.57312 20.6444C3.26075 21.1848 1.93216 21.5 0.490225 21.5H0.40918L2.92052 2.40635C5.23742 1.19048 8.05658 0.5 10.7299 0.5C12.9172 0.5 15.1693 0.920274 17.0001 2.09113C18.8309 0.920274 21.0831 0.5 23.2703 0.5C25.9437 0.5 28.7628 1.19048 31.0797 2.40635L33.5911 21.5ZM31.0311 19.0532L29.0221 3.72727C27.2074 2.9617 25.0526 2.55641 23.0597 2.55641C20.7914 2.55641 18.6689 3.21687 17.0001 4.67293C15.3313 3.21687 13.2089 2.55641 10.9405 2.55641C8.94767 2.55641 6.7928 2.9617 4.97817 3.72727L2.9691 19.0532C5.75586 17.9875 7.86214 17.222 10.9405 17.222C13.1602 17.222 15.1207 17.7473 17.0001 18.8431C18.8796 17.7473 20.84 17.222 23.0597 17.222C26.1381 17.222 28.2444 17.9875 31.0311 19.0532Z"
                    ></path>
                  </svg>
                  &nbsp;Courses</h2>
              </a>

            </li>
            <li class="nav-item my-2 w-100 py-3 li-tea {{#if (eq handlebars 'admin/teachers')}} itemMenuAdminChosen {{/if}}">
              <a class="tea" href="/admin/teachers" style="text-decoration: none">
                <h2 id="tea" class="aaa mt-2 {{#if (eq handlebars 'admin/teachers')}} textMenuAdminChosen {{/if}}" style="margin-left: 2rem;"><svg
                    fill="none"
                    class="icon {{#if (eq handlebars 'admin/teachers')}} textMenuAdminChosen {{/if}}"
                    width="32"
                    height="26"
                    viewBox="0 0 28 30"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M14 0C18.4188 0 22 3.35742 22 7.5C22 11.6426 18.4188 15 14 15C9.58125 15 6 11.6426 6 7.5C6 3.35742 9.58125 0 14 0ZM13.0688 21.0469L11.9062 19.2305C11.5063 18.6035 11.9875 17.8125 12.7625 17.8125H14H15.2312C16.0063 17.8125 16.4875 18.6094 16.0875 19.2305L14.925 21.0469L17.0125 28.3066L19.4813 18.8613C24.3063 19.5645 28 23.4785 28 28.2012C28 29.1973 27.1375 30 26.0812 30H16.5688H11.4312H1.91875C0.8625 30 0 29.1914 0 28.2012C0 23.4785 3.69375 19.5645 8.51875 18.8613L10.9875 28.3066L13.075 21.0469H13.0688Z"
                    ></path>
                  </svg>
                 &nbsp;Teacher</h2>
              </a>
            </li>

            <li class="nav-item my-2 w-100 py-3 li-stu {{#if (eq handlebars 'admin/students')}} itemMenuAdminChosen {{/if}}">
              <a class="stu" href="/admin/students" style="text-decoration: none">
                <h2 id="stu" class="aaa mt-2 {{#if (eq handlebars 'admin/students')}} textMenuAdminChosen {{/if}}" style="margin-left: 2rem;">
                  <svg
                    fill="none"
                    class="icon {{#if (eq handlebars 'admin/students')}} textMenuAdminChosen {{/if}}"
                    width="32"
                    height="26"
                    viewBox="0 0 32 28"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M8 3.5C8 1.56953 9.435 0 11.2 0H28.8C30.565 0 32 1.56953 32 3.5V19.25C32 21.1805 30.565 22.75 28.8 22.75H16.84C16.25 21.3555 15.345 20.1523 14.22 19.25H19.2V17.5C19.2 16.532 19.915 15.75 20.8 15.75H24C24.885 15.75 25.6 16.532 25.6 17.5V19.25H28.8V3.5H11.2V6.18516C10.26 5.58906 9.165 5.25 8 5.25V3.5ZM8 17.5C5.35 17.5 3.2 15.1484 3.2 12.25C3.2 9.35156 5.35 7 8 7C10.65 7 12.8 9.35156 12.8 12.25C12.8 15.1484 10.65 17.5 8 17.5ZM6.665 19.25H9.33C13.015 19.25 16 22.5148 16 26.5398C16 27.3438 15.405 28 14.665 28H1.335C0.595 28 0 27.3492 0 26.5398C0 22.5148 2.985 19.25 6.665 19.25Z"
                    ></path>
                  </svg>
                &nbsp;Student</h2>
              </a>
            </li>
          </ul>
          <a class="logout" href="/account/logout">
            <p>
              <svg
                class="icon2"
                width="24"
                height="23"
                viewBox="0 0 24 23"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M0.86886 12.6035C0.304625 11.9932 0.304625 11.002 0.86886 10.3916L6.64664 4.1416C7.21087 3.53125 8.12719 3.53125 8.69143 4.1416C9.25566 4.75195 9.25566 5.74316 8.69143 6.35352L5.37823 9.9375H14.889C15.688 9.9375 16.3334 10.6357 16.3334 11.5C16.3334 12.3643 15.688 13.0625 14.889 13.0625H5.37823L8.69143 16.6465C9.25566 17.2568 9.25566 18.248 8.69143 18.8584C8.12719 19.4688 7.21087 19.4688 6.64664 18.8584L0.86886 12.6084V12.6035ZM16.3334 3.6875C15.5345 3.6875 14.889 2.98926 14.889 2.125C14.889 1.26074 15.5345 0.5625 16.3334 0.5625H19.2223C21.6147 0.5625 23.5557 2.66211 23.5557 5.25V17.75C23.5557 20.3379 21.6147 22.4375 19.2223 22.4375H16.3334C15.5345 22.4375 14.889 21.7393 14.889 20.875C14.889 20.0107 15.5345 19.3125 16.3334 19.3125H19.2223C20.0213 19.3125 20.6668 18.6143 20.6668 17.75V5.25C20.6668 4.38574 20.0213 3.6875 19.2223 3.6875H16.3334Z"
                ></path>
              </svg>
              &nbsp;Logout&nbsp;&nbsp;&nbsp;
            </p>
          </a>

        </div>
        <div class="col-sm-11" style="width: 131rem; padding: 0;">
          {{{body}}}
        </div>
      </div>

    </div>
        {{> footer }}

    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
      integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
      crossorigin="anonymous"
    ></script>

  </body>
</html>