<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Online Academy{{#if HTMLTitle}} - {{HTMLTitle}}{{/if}}</title>
    {{! google fonts }}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    {{!-- boostraps icon --}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    {{! BEGIN GLOBAL }}
    <script
      src="https://kit.fontawesome.com/46668bc562.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/assets/bootstrap.min.css" type="text/css" />
    <script src="/assets/jquery.min.js"></script>
    <script src="/assets/bootstrap.min.js"></script>
    {{! layout CSS }}
    <link rel="stylesheet" href="/assets/css/auth/layout.css" type="text/css" />
    {{! signup CSS }}
    <link rel="stylesheet" href="/assets/css/auth/signup.css" type="text/css" />
    {{! login CSS }}
    <link rel="stylesheet" href="/assets/css/auth/login.css" type="text/css" />
    {{!-- OTP CSS --}}
    <link rel="stylesheet" href="/assets/css/auth/otp.css" type="text/css" />
    {{!--  Forgot password CSS --}}
    <link rel="stylesheet" href="/assets/css/auth/forgotPassword.css" type="text/css" />
    {{!--  New password CSS --}}
    <link rel="stylesheet" href="/assets/css/auth/newPassword.css" type="text/css" />
    {{! END GLOBAL }}
  </head>
  <body>
    <div class="left-hand">
      <img
        src="/assets/images/authPage/image.png"
        alt="course-img"
        class="img"
      />
    </div>
    <div class="right-hand">
      {{{body}}}
    </div>
  </body>
</html>