<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    {{!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"> --}}
    <title>Online Academy{{#if HTMLTitle}} - {{HTMLTitle}}{{/if}}</title>
    {{!-- BEGIN GLOBAL --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="https://kit.fontawesome.com/46668bc562.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/assets/bootstrap.min.css" type="text/css" />
    
    <link rel="stylesheet" href="/assets/css/index.css" type="text/css" />
    {{!-- END GLOBAL --}}

    <link rel="stylesheet" href="/assets/css/home/home.css" type="text/css" />
    
    {{#if (eq handlebars "payment/shoppingCart")}}
    <link rel="stylesheet" href="/assets/css/payment/shoppingCart.css" type="text/css" />
    {{/if}}

    {{#if (eq handlebars "userProfile/userProfile")}}
    <link rel="stylesheet" href="/assets/css/userProfile/userProfile.css" type="text/css" />
    {{/if}}

    {{#if (eq handlebars "myCourses/myCourses")}}
    <link rel="stylesheet" href="/assets/css/myCourses/myCourses.css" type="text/css" />
    {{/if}}

    {{#if (eq handlebars "courseDetail/courseDetail")}}
    <link rel="stylesheet" href="/assets/css/courseDetail/courseDetail.css" type="text/css" />
    {{/if}}

    {{#if (eq handlebars "home/courses")}}
    <link rel="stylesheet" href="/assets/css/home/courses.css" type="text/css" />
    {{/if}}

    {{#if messages}}
        <script>alert(`{{{messages}}}`)</script>
    {{/if}}
</head>
<body>
    {{> navbar }}
    {{{ body }}}
    {{> footer }}
<script>
   if (window.location.hash === "#_=_"){

    // Check if the browser supports history.replaceState.
    if (history.replaceState) {
        // Keep the exact URL up to the hash.
        var cleanHref = window.location.href.split("#")[0];
        // Replace the URL in the address bar without messing with the back button.
        history.replaceState(null, null, cleanHref);
    } else {
        // Well, you're on an old browser, we can get rid of the _=_ but not the #.
        window.location.hash = "";
    }
}
</script>
</body>
</html>