<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    {{!-- BEGIN GLOBAL --}}
    <script src="https://kit.fontawesome.com/46668bc562.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/assets/bootstrap.min.css" type="text/css" />
    <script src="/assets/jquery.min.js"></script>
    <script src="/assets/bootstrap.min.js"></script>
    
    <link rel="stylesheet" href="/assets/css/index.css" type="text/css" />
    {{!-- END GLOBAL --}}

    <link rel="stylesheet" href="/assets/css/home/home.css" type="text/css" />
</head>
<body>
    {{> navbar }}
    {{{ body }}}
    {{> footer }}
</body>
</html>


{{!-- <div class="course-card">
    <img src="/assets/images/home/course-list/card/courseimage.png" class="course-card-img" alt="course-img">
    <div class="card-main">
        <h1 class="card-heading">The Complete Javascript Course: Version 1</h1>
        <div class="card-author">
            <i class="fa-solid fa-user-pen"></i>
            <span>Jonas Schmedtmann</span>
        </div>
        <div class="card-details-ls">
            <div class="card-details-ls-icon">
                <span><b>4.6</b></span>
                <span><i class="fa-regular fa-eye"></i></span>
                <span><i class="fa-solid fa-tag"></i></span>
            </div>
            <div class="card-details-ls-content">
                <div class="card-details-ls-item">
                    <span class="flex g-0">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </span>
                    <small>(160.753)</small>
                </div>
                <div>
                    <small>723.841 views</small>
                </div>
                <div>
                    <small>Website development</small>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <span class="card-price">
                <i class="fa-solid fa-dollar"></i> 
                <span class="price-number">182</span>
                <i class="fa-solid fa-arrow-right"></i>
                <b class="sale-number">
                    <i class="fa-solid fa-dollar"></i> 
                    <span>99</span>
                </b>
            </span>
            <span class="card-clock">
                <i class="fa-regular fa-clock"></i>
                <span>16-12-2022</span>
            </span>
        </div>
    </div>
</div> --}}