{{#if message}}
<script>alert(`{{{message}}}`);</script>
{{/if}}
<div class="shoppingCart">
    <div class="titlee">
      <h1>shopping cart</h1>
      <img>
      <svg width="55" height="49" viewBox="0 0 55 49" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M1.74532 3.58552C0.805533 3.58552 0 2.76857 0 1.77007C0 0.816954 0.805533 0 1.74532 0H6.31001C6.35476 0 6.44426 0 6.48902 0C8.10008 0.0453863 9.53214 0.363091 10.7404 1.13466C12.083 1.997 13.0675 3.3132 13.6046 5.26482C13.6046 5.3102 13.6046 5.35559 13.6493 5.40097L14.0968 7.21643H53.2547C54.2392 7.21643 55 8.03338 55 8.9865C55 9.16804 54.9552 9.34959 54.9105 9.53113L50.3458 28.1849C50.1668 29.0019 49.4508 29.5465 48.6452 29.5465H20.0041C20.6306 31.9066 21.2571 33.1774 22.1074 33.7674C23.1367 34.4482 24.9268 34.4936 27.9251 34.4482H27.9699H48.1977C49.1823 34.4482 49.943 35.2652 49.943 36.2183C49.943 37.2168 49.1375 37.9884 48.1977 37.9884H27.9699C24.2555 38.0338 21.9731 37.943 20.1383 36.7176C18.2587 35.4467 17.2742 33.2682 16.2897 29.3196L10.2929 6.3087C10.2929 6.26332 10.2929 6.26332 10.2482 6.21793C9.97966 5.21943 9.53214 4.53863 8.90561 4.17554C8.27909 3.76707 7.4288 3.58552 6.44426 3.58552C6.39951 3.58552 6.35476 3.58552 6.31001 3.58552H1.74532V3.58552ZM42.9618 40.0761C45.3336 40.0761 47.2579 42.0278 47.2579 44.4332C47.2579 46.8387 45.3336 48.7903 42.9618 48.7903C40.5899 48.7903 38.6656 46.8387 38.6656 44.4332C38.6656 42.0278 40.5899 40.0761 42.9618 40.0761ZM24.1212 40.0761C26.4931 40.0761 28.4174 42.0278 28.4174 44.4332C28.4174 46.8387 26.4931 48.7903 24.1212 48.7903C21.7494 48.7903 19.8251 46.8387 19.8251 44.4332C19.8251 42.0278 21.7494 40.0761 24.1212 40.0761ZM15.0814 10.7566L19.0643 25.961H47.3027L51.0171 10.7566H15.0814V10.7566Z"
          fill="#535353" />
      </svg>
      </img>
    </div>

    <div class="cart">
      <div class="itemList ">
        <div class="cartIsEmpty">
          <p>Cart is empty...</p>
        </div>
      </div>
      {{!-- payment open--}}
      <div class="paymentMethod shoppingCartHidden">
        <P class="title">checkout</P>
        <div class="credit">
            <svg width="359" height="210" viewBox="0 0 359 210" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="359" height="210" rx="30" fill="url(#paint0_linear_188_2056)"/>
            <mask id="mask0_188_2056" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="359" height="210">
            <rect width="359" height="210" rx="30" fill="#3CEDAD"/>
            </mask>
            <g mask="url(#mask0_188_2056)">
            <ellipse opacity="0.1" cx="27.9222" cy="243.098" rx="182.919" ry="128.967" fill="black"/>
            <ellipse opacity="0.08" cx="339" cy="-12" rx="175" ry="99" fill="black"/>
            </g>
            <path d="M277.149 180.63V170.83H281.433C282.497 170.83 283.43 171.036 284.233 171.446C285.036 171.857 285.661 172.426 286.109 173.154C286.557 173.882 286.781 174.741 286.781 175.73C286.781 176.71 286.557 177.569 286.109 178.306C285.661 179.034 285.036 179.604 284.233 180.014C283.43 180.425 282.497 180.63 281.433 180.63H277.149ZM278.969 179.09H281.349C282.086 179.09 282.721 178.95 283.253 178.67C283.794 178.39 284.21 177.998 284.499 177.494C284.798 176.99 284.947 176.402 284.947 175.73C284.947 175.049 284.798 174.461 284.499 173.966C284.21 173.462 283.794 173.07 283.253 172.79C282.721 172.51 282.086 172.37 281.349 172.37H278.969V179.09ZM289.215 180.63V170.83H293.499C294.563 170.83 295.497 171.036 296.299 171.446C297.102 171.857 297.727 172.426 298.175 173.154C298.623 173.882 298.847 174.741 298.847 175.73C298.847 176.71 298.623 177.569 298.175 178.306C297.727 179.034 297.102 179.604 296.299 180.014C295.497 180.425 294.563 180.63 293.499 180.63H289.215ZM291.035 179.09H293.415C294.153 179.09 294.787 178.95 295.319 178.67C295.861 178.39 296.276 177.998 296.565 177.494C296.864 176.99 297.013 176.402 297.013 175.73C297.013 175.049 296.864 174.461 296.565 173.966C296.276 173.462 295.861 173.07 295.319 172.79C294.787 172.51 294.153 172.37 293.415 172.37H291.035V179.09ZM299.272 182.03L303.892 168.842H305.46L300.84 182.03H299.272ZM309.535 180.63V176.752L309.941 177.872L305.685 170.83H307.631L311.047 176.5H309.955L313.399 170.83H315.191L310.935 177.872L311.355 176.752V180.63H309.535ZM319.278 180.63V176.752L319.684 177.872L315.428 170.83H317.374L320.79 176.5H319.698L323.142 170.83H324.934L320.678 177.872L321.098 176.752V180.63H319.278Z" fill="white"/>
            <path opacity="0.54" d="M40.0425 48.3513C39.2958 48.3513 38.6051 48.2299 37.9705 47.9873C37.3451 47.7353 36.7991 47.3853 36.3325 46.9373C35.8751 46.4799 35.5158 45.9479 35.2545 45.3413C34.9931 44.7346 34.8625 44.0673 34.8625 43.3393C34.8625 42.6113 34.9931 41.9439 35.2545 41.3373C35.5158 40.7306 35.8798 40.2033 36.3465 39.7553C36.8131 39.2979 37.3591 38.9479 37.9845 38.7053C38.6191 38.4533 39.3098 38.3273 40.0565 38.3273C40.8125 38.3273 41.5078 38.4579 42.1425 38.7193C42.7865 38.9713 43.3325 39.3493 43.7805 39.8533L42.8705 40.7353C42.4971 40.3433 42.0771 40.0539 41.6105 39.8673C41.1438 39.6713 40.6445 39.5733 40.1125 39.5733C39.5618 39.5733 39.0485 39.6666 38.5725 39.8533C38.1058 40.0399 37.6998 40.3013 37.3545 40.6373C37.0091 40.9733 36.7385 41.3746 36.5425 41.8413C36.3558 42.2986 36.2625 42.7979 36.2625 43.3393C36.2625 43.8806 36.3558 44.3846 36.5425 44.8513C36.7385 45.3086 37.0091 45.7053 37.3545 46.0413C37.6998 46.3773 38.1058 46.6386 38.5725 46.8253C39.0485 47.0119 39.5618 47.1053 40.1125 47.1053C40.6445 47.1053 41.1438 47.0119 41.6105 46.8253C42.0771 46.6293 42.4971 46.3306 42.8705 45.9293L43.7805 46.8113C43.3325 47.3153 42.7865 47.6979 42.1425 47.9593C41.5078 48.2206 40.8078 48.3513 40.0425 48.3513ZM45.5817 48.2393V40.8193H46.8697V42.8353L46.7437 42.3313C46.949 41.8179 47.2943 41.4259 47.7797 41.1553C48.265 40.8846 48.8623 40.7493 49.5717 40.7493V42.0513C49.5157 42.0419 49.4597 42.0373 49.4037 42.0373C49.357 42.0373 49.3103 42.0373 49.2637 42.0373C48.545 42.0373 47.9757 42.2519 47.5557 42.6813C47.1357 43.1106 46.9257 43.7313 46.9257 44.5433V48.2393H45.5817ZM54.4638 48.3233C53.6705 48.3233 52.9705 48.1599 52.3638 47.8333C51.7665 47.5066 51.2998 47.0586 50.9638 46.4893C50.6371 45.9199 50.4738 45.2666 50.4738 44.5293C50.4738 43.7919 50.6325 43.1386 50.9498 42.5693C51.2765 41.9999 51.7198 41.5566 52.2798 41.2393C52.8491 40.9126 53.4885 40.7493 54.1978 40.7493C54.9165 40.7493 55.5511 40.9079 56.1018 41.2253C56.6525 41.5426 57.0818 41.9906 57.3898 42.5693C57.7071 43.1386 57.8658 43.8059 57.8658 44.5713C57.8658 44.6273 57.8611 44.6926 57.8518 44.7673C57.8518 44.8419 57.8471 44.9119 57.8378 44.9773H51.5238V44.0113H57.1378L56.5918 44.3473C56.6011 43.8713 56.5031 43.4466 56.2978 43.0733C56.0925 42.6999 55.8078 42.4106 55.4438 42.2053C55.0891 41.9906 54.6738 41.8833 54.1978 41.8833C53.7311 41.8833 53.3158 41.9906 52.9518 42.2053C52.5878 42.4106 52.3031 42.7046 52.0978 43.0873C51.8925 43.4606 51.7898 43.8899 51.7898 44.3753V44.5993C51.7898 45.0939 51.9018 45.5373 52.1258 45.9293C52.3591 46.3119 52.6811 46.6106 53.0918 46.8253C53.5025 47.0399 53.9738 47.1473 54.5058 47.1473C54.9445 47.1473 55.3411 47.0726 55.6958 46.9233C56.0598 46.7739 56.3771 46.5499 56.6478 46.2513L57.3898 47.1193C57.0538 47.5113 56.6338 47.8099 56.1298 48.0153C55.6351 48.2206 55.0798 48.3233 54.4638 48.3233ZM62.7981 48.3233C62.0794 48.3233 61.4354 48.1646 60.8661 47.8473C60.3061 47.5299 59.8627 47.0866 59.5361 46.5173C59.2094 45.9479 59.0461 45.2853 59.0461 44.5293C59.0461 43.7733 59.2094 43.1153 59.5361 42.5553C59.8627 41.9859 60.3061 41.5426 60.8661 41.2253C61.4354 40.9079 62.0794 40.7493 62.7981 40.7493C63.4234 40.7493 63.9881 40.8893 64.4921 41.1693C64.9961 41.4493 65.3974 41.8693 65.6961 42.4293C66.0041 42.9893 66.1581 43.6893 66.1581 44.5293C66.1581 45.3693 66.0087 46.0693 65.7101 46.6293C65.4207 47.1893 65.0241 47.6139 64.5201 47.9033C64.0161 48.1833 63.4421 48.3233 62.7981 48.3233ZM62.9101 47.1473C63.3767 47.1473 63.7967 47.0399 64.1701 46.8253C64.5527 46.6106 64.8514 46.3073 65.0661 45.9153C65.2901 45.5139 65.4021 45.0519 65.4021 44.5293C65.4021 43.9973 65.2901 43.5399 65.0661 43.1573C64.8514 42.7653 64.5527 42.4619 64.1701 42.2473C63.7967 42.0326 63.3767 41.9253 62.9101 41.9253C62.4341 41.9253 62.0094 42.0326 61.6361 42.2473C61.2627 42.4619 60.9641 42.7653 60.7401 43.1573C60.5161 43.5399 60.4041 43.9973 60.4041 44.5293C60.4041 45.0519 60.5161 45.5139 60.7401 45.9153C60.9641 46.3073 61.2627 46.6106 61.6361 46.8253C62.0094 47.0399 62.4341 47.1473 62.9101 47.1473ZM65.4441 48.2393V46.2373L65.5281 44.5153L65.3881 42.7933V37.8513H66.7321V48.2393H65.4441ZM69.275 48.2393V40.8193H70.619V48.2393H69.275ZM69.947 39.3913C69.6857 39.3913 69.4664 39.3073 69.289 39.1393C69.121 38.9713 69.037 38.7659 69.037 38.5233C69.037 38.2713 69.121 38.0613 69.289 37.8933C69.4664 37.7253 69.6857 37.6413 69.947 37.6413C70.2084 37.6413 70.423 37.7253 70.591 37.8933C70.7684 38.0519 70.857 38.2526 70.857 38.4953C70.857 38.7473 70.773 38.9619 70.605 39.1393C70.437 39.3073 70.2177 39.3913 69.947 39.3913ZM75.7332 48.3233C74.9865 48.3233 74.4078 48.1226 73.9972 47.7213C73.5865 47.3199 73.3812 46.7459 73.3812 45.9993V39.1953H74.7252V45.9433C74.7252 46.3446 74.8232 46.6526 75.0192 46.8673C75.2245 47.0819 75.5138 47.1893 75.8872 47.1893C76.3072 47.1893 76.6572 47.0726 76.9372 46.8393L77.3572 47.8053C77.1518 47.9826 76.9045 48.1133 76.6152 48.1973C76.3352 48.2813 76.0412 48.3233 75.7332 48.3233ZM72.1212 41.9253V40.8193H76.8532V41.9253H72.1212ZM87.3198 48.3513C86.5732 48.3513 85.8825 48.2299 85.2478 47.9873C84.6225 47.7353 84.0765 47.3853 83.6098 46.9373C83.1525 46.4799 82.7932 45.9479 82.5318 45.3413C82.2705 44.7346 82.1398 44.0673 82.1398 43.3393C82.1398 42.6113 82.2705 41.9439 82.5318 41.3373C82.7932 40.7306 83.1572 40.2033 83.6238 39.7553C84.0905 39.2979 84.6365 38.9479 85.2618 38.7053C85.8965 38.4533 86.5872 38.3273 87.3338 38.3273C88.0898 38.3273 88.7852 38.4579 89.4198 38.7193C90.0638 38.9713 90.6098 39.3493 91.0578 39.8533L90.1478 40.7353C89.7745 40.3433 89.3545 40.0539 88.8878 39.8673C88.4212 39.6713 87.9218 39.5733 87.3898 39.5733C86.8392 39.5733 86.3258 39.6666 85.8498 39.8533C85.3832 40.0399 84.9772 40.3013 84.6318 40.6373C84.2865 40.9733 84.0158 41.3746 83.8198 41.8413C83.6332 42.2986 83.5398 42.7979 83.5398 43.3393C83.5398 43.8806 83.6332 44.3846 83.8198 44.8513C84.0158 45.3086 84.2865 45.7053 84.6318 46.0413C84.9772 46.3773 85.3832 46.6386 85.8498 46.8253C86.3258 47.0119 86.8392 47.1053 87.3898 47.1053C87.9218 47.1053 88.4212 47.0119 88.8878 46.8253C89.3545 46.6293 89.7745 46.3306 90.1478 45.9293L91.0578 46.8113C90.6098 47.3153 90.0638 47.6979 89.4198 47.9593C88.7852 48.2206 88.0852 48.3513 87.3198 48.3513ZM97.3693 48.2393V46.6713L97.2993 46.3773V43.7033C97.2993 43.1339 97.1313 42.6953 96.7953 42.3873C96.4686 42.0699 95.974 41.9113 95.3113 41.9113C94.8726 41.9113 94.4433 41.9859 94.0233 42.1353C93.6033 42.2753 93.2486 42.4666 92.9593 42.7093L92.3993 41.7013C92.782 41.3933 93.2393 41.1599 93.7713 41.0013C94.3126 40.8333 94.8773 40.7493 95.4653 40.7493C96.4826 40.7493 97.2666 40.9966 97.8173 41.4913C98.368 41.9859 98.6433 42.7419 98.6433 43.7593V48.2393H97.3693ZM94.9333 48.3233C94.3826 48.3233 93.8973 48.2299 93.4773 48.0433C93.0666 47.8566 92.7493 47.5999 92.5253 47.2733C92.3013 46.9373 92.1893 46.5593 92.1893 46.1393C92.1893 45.7379 92.2826 45.3739 92.4693 45.0473C92.6653 44.7206 92.978 44.4593 93.4073 44.2633C93.846 44.0673 94.434 43.9693 95.1713 43.9693H97.5233V44.9353H95.2273C94.5553 44.9353 94.1026 45.0473 93.8693 45.2713C93.636 45.4953 93.5193 45.7659 93.5193 46.0833C93.5193 46.4473 93.664 46.7413 93.9533 46.9653C94.2426 47.1799 94.644 47.2873 95.1573 47.2873C95.6613 47.2873 96.1 47.1753 96.4733 46.9513C96.856 46.7273 97.1313 46.4006 97.2993 45.9713L97.5653 46.8953C97.388 47.3339 97.0753 47.6839 96.6273 47.9453C96.1793 48.1973 95.6146 48.3233 94.9333 48.3233ZM101.13 48.2393V40.8193H102.418V42.8353L102.292 42.3313C102.498 41.8179 102.843 41.4259 103.328 41.1553C103.814 40.8846 104.411 40.7493 105.12 40.7493V42.0513C105.064 42.0419 105.008 42.0373 104.952 42.0373C104.906 42.0373 104.859 42.0373 104.812 42.0373C104.094 42.0373 103.524 42.2519 103.104 42.6813C102.684 43.1106 102.474 43.7313 102.474 44.5433V48.2393H101.13ZM109.775 48.3233C109.056 48.3233 108.412 48.1646 107.843 47.8473C107.283 47.5299 106.839 47.0866 106.513 46.5173C106.186 45.9479 106.023 45.2853 106.023 44.5293C106.023 43.7733 106.186 43.1153 106.513 42.5553C106.839 41.9859 107.283 41.5426 107.843 41.2253C108.412 40.9079 109.056 40.7493 109.775 40.7493C110.4 40.7493 110.965 40.8893 111.469 41.1693C111.973 41.4493 112.374 41.8693 112.673 42.4293C112.981 42.9893 113.135 43.6893 113.135 44.5293C113.135 45.3693 112.985 46.0693 112.687 46.6293C112.397 47.1893 112.001 47.6139 111.497 47.9033C110.993 48.1833 110.419 48.3233 109.775 48.3233ZM109.887 47.1473C110.353 47.1473 110.773 47.0399 111.147 46.8253C111.529 46.6106 111.828 46.3073 112.043 45.9153C112.267 45.5139 112.379 45.0519 112.379 44.5293C112.379 43.9973 112.267 43.5399 112.043 43.1573C111.828 42.7653 111.529 42.4619 111.147 42.2473C110.773 42.0326 110.353 41.9253 109.887 41.9253C109.411 41.9253 108.986 42.0326 108.613 42.2473C108.239 42.4619 107.941 42.7653 107.717 43.1573C107.493 43.5399 107.381 43.9973 107.381 44.5293C107.381 45.0519 107.493 45.5139 107.717 45.9153C107.941 46.3073 108.239 46.6106 108.613 46.8253C108.986 47.0399 109.411 47.1473 109.887 47.1473ZM112.421 48.2393V46.2373L112.505 44.5153L112.365 42.7933V37.8513H113.709V48.2393H112.421Z" fill="white"/>
            <path opacity="0.9" d="M36.055 172.128L34.179 173.164V172.856L36.055 173.892L35.509 174.844L33.703 173.794L33.885 173.696L33.899 175.698H32.835L32.849 173.696L33.031 173.794L31.239 174.844L30.679 173.892L32.569 172.856V173.164L30.679 172.128L31.239 171.162L33.031 172.226L32.849 172.338L32.835 170.322H33.899L33.885 172.338L33.703 172.226L35.509 171.162L36.055 172.128ZM42.6527 172.128L40.7767 173.164V172.856L42.6527 173.892L42.1067 174.844L40.3007 173.794L40.4827 173.696L40.4967 175.698H39.4327L39.4467 173.696L39.6287 173.794L37.8367 174.844L37.2767 173.892L39.1667 172.856V173.164L37.2767 172.128L37.8367 171.162L39.6287 172.226L39.4467 172.338L39.4327 170.322H40.4967L40.4827 172.338L40.3007 172.226L42.1067 171.162L42.6527 172.128ZM49.2503 172.128L47.3743 173.164V172.856L49.2503 173.892L48.7043 174.844L46.8983 173.794L47.0803 173.696L47.0943 175.698H46.0303L46.0443 173.696L46.2263 173.794L44.4343 174.844L43.8743 173.892L45.7643 172.856V173.164L43.8743 172.128L44.4343 171.162L46.2263 172.226L46.0443 172.338L46.0303 170.322H47.0943L47.0803 172.338L46.8983 172.226L48.7043 171.162L49.2503 172.128ZM55.848 172.128L53.972 173.164V172.856L55.848 173.892L55.302 174.844L53.496 173.794L53.678 173.696L53.692 175.698H52.628L52.642 173.696L52.824 173.794L51.032 174.844L50.472 173.892L52.362 172.856V173.164L50.472 172.128L51.032 171.162L52.824 172.226L52.642 172.338L52.628 170.322H53.692L53.678 172.338L53.496 172.226L55.302 171.162L55.848 172.128ZM66.5413 172.128L64.6653 173.164V172.856L66.5413 173.892L65.9953 174.844L64.1893 173.794L64.3713 173.696L64.3853 175.698H63.3213L63.3353 173.696L63.5173 173.794L61.7253 174.844L61.1653 173.892L63.0553 172.856V173.164L61.1653 172.128L61.7253 171.162L63.5173 172.226L63.3353 172.338L63.3213 170.322H64.3853L64.3713 172.338L64.1893 172.226L65.9953 171.162L66.5413 172.128ZM73.139 172.128L71.263 173.164V172.856L73.139 173.892L72.593 174.844L70.787 173.794L70.969 173.696L70.983 175.698H69.919L69.933 173.696L70.115 173.794L68.323 174.844L67.763 173.892L69.653 172.856V173.164L67.763 172.128L68.323 171.162L70.115 172.226L69.933 172.338L69.919 170.322H70.983L70.969 172.338L70.787 172.226L72.593 171.162L73.139 172.128ZM79.7367 172.128L77.8607 173.164V172.856L79.7367 173.892L79.1907 174.844L77.3847 173.794L77.5667 173.696L77.5807 175.698H76.5167L76.5307 173.696L76.7127 173.794L74.9207 174.844L74.3607 173.892L76.2507 172.856V173.164L74.3607 172.128L74.9207 171.162L76.7127 172.226L76.5307 172.338L76.5167 170.322H77.5807L77.5667 172.338L77.3847 172.226L79.1907 171.162L79.7367 172.128ZM86.3343 172.128L84.4583 173.164V172.856L86.3343 173.892L85.7883 174.844L83.9823 173.794L84.1643 173.696L84.1783 175.698H83.1143L83.1283 173.696L83.3103 173.794L81.5183 174.844L80.9583 173.892L82.8483 172.856V173.164L80.9583 172.128L81.5183 171.162L83.3103 172.226L83.1283 172.338L83.1143 170.322H84.1783L84.1643 172.338L83.9823 172.226L85.7883 171.162L86.3343 172.128ZM97.0277 172.128L95.1517 173.164V172.856L97.0277 173.892L96.4817 174.844L94.6757 173.794L94.8577 173.696L94.8717 175.698H93.8077L93.8217 173.696L94.0037 173.794L92.2117 174.844L91.6517 173.892L93.5417 172.856V173.164L91.6517 172.128L92.2117 171.162L94.0037 172.226L93.8217 172.338L93.8077 170.322H94.8717L94.8577 172.338L94.6757 172.226L96.4817 171.162L97.0277 172.128ZM103.625 172.128L101.749 173.164V172.856L103.625 173.892L103.079 174.844L101.273 173.794L101.455 173.696L101.469 175.698H100.405L100.419 173.696L100.601 173.794L98.8093 174.844L98.2493 173.892L100.139 172.856V173.164L98.2493 172.128L98.8093 171.162L100.601 172.226L100.419 172.338L100.405 170.322H101.469L101.455 172.338L101.273 172.226L103.079 171.162L103.625 172.128ZM110.223 172.128L108.347 173.164V172.856L110.223 173.892L109.677 174.844L107.871 173.794L108.053 173.696L108.067 175.698H107.003L107.017 173.696L107.199 173.794L105.407 174.844L104.847 173.892L106.737 172.856V173.164L104.847 172.128L105.407 171.162L107.199 172.226L107.017 172.338L107.003 170.322H108.067L108.053 172.338L107.871 172.226L109.677 171.162L110.223 172.128ZM116.821 172.128L114.945 173.164V172.856L116.821 173.892L116.275 174.844L114.469 173.794L114.651 173.696L114.665 175.698H113.601L113.615 173.696L113.797 173.794L112.005 174.844L111.445 173.892L113.335 172.856V173.164L111.445 172.128L112.005 171.162L113.797 172.226L113.615 172.338L113.601 170.322H114.665L114.651 172.338L114.469 172.226L116.275 171.162L116.821 172.128ZM127.514 172.128L125.638 173.164V172.856L127.514 173.892L126.968 174.844L125.162 173.794L125.344 173.696L125.358 175.698H124.294L124.308 173.696L124.49 173.794L122.698 174.844L122.138 173.892L124.028 172.856V173.164L122.138 172.128L122.698 171.162L124.49 172.226L124.308 172.338L124.294 170.322H125.358L125.344 172.338L125.162 172.226L126.968 171.162L127.514 172.128ZM133.011 180.85C132.236 180.85 131.536 180.654 130.911 180.262C130.295 179.87 129.809 179.301 129.455 178.554C129.1 177.798 128.923 176.884 128.923 175.81C128.923 174.737 129.1 173.827 129.455 173.08C129.809 172.324 130.295 171.75 130.911 171.358C131.536 170.966 132.236 170.77 133.011 170.77C133.795 170.77 134.495 170.966 135.111 171.358C135.727 171.75 136.212 172.324 136.567 173.08C136.931 173.827 137.113 174.737 137.113 175.81C137.113 176.884 136.931 177.798 136.567 178.554C136.212 179.301 135.727 179.87 135.111 180.262C134.495 180.654 133.795 180.85 133.011 180.85ZM133.011 179.268C133.468 179.268 133.865 179.147 134.201 178.904C134.537 178.652 134.798 178.27 134.985 177.756C135.181 177.243 135.279 176.594 135.279 175.81C135.279 175.017 135.181 174.368 134.985 173.864C134.798 173.351 134.537 172.973 134.201 172.73C133.865 172.478 133.468 172.352 133.011 172.352C132.572 172.352 132.18 172.478 131.835 172.73C131.499 172.973 131.233 173.351 131.037 173.864C130.85 174.368 130.757 175.017 130.757 175.81C130.757 176.594 130.85 177.243 131.037 177.756C131.233 178.27 131.499 178.652 131.835 178.904C132.18 179.147 132.572 179.268 133.011 179.268ZM142.931 180.85C142.156 180.85 141.456 180.654 140.831 180.262C140.215 179.87 139.729 179.301 139.375 178.554C139.02 177.798 138.843 176.884 138.843 175.81C138.843 174.737 139.02 173.827 139.375 173.08C139.729 172.324 140.215 171.75 140.831 171.358C141.456 170.966 142.156 170.77 142.931 170.77C143.715 170.77 144.415 170.966 145.031 171.358C145.647 171.75 146.132 172.324 146.487 173.08C146.851 173.827 147.033 174.737 147.033 175.81C147.033 176.884 146.851 177.798 146.487 178.554C146.132 179.301 145.647 179.87 145.031 180.262C144.415 180.654 143.715 180.85 142.931 180.85ZM142.931 179.268C143.388 179.268 143.785 179.147 144.121 178.904C144.457 178.652 144.718 178.27 144.905 177.756C145.101 177.243 145.199 176.594 145.199 175.81C145.199 175.017 145.101 174.368 144.905 173.864C144.718 173.351 144.457 172.973 144.121 172.73C143.785 172.478 143.388 172.352 142.931 172.352C142.492 172.352 142.1 172.478 141.755 172.73C141.419 172.973 141.153 173.351 140.957 173.864C140.77 174.368 140.677 175.017 140.677 175.81C140.677 176.594 140.77 177.243 140.957 177.756C141.153 178.27 141.419 178.652 141.755 178.904C142.1 179.147 142.492 179.268 142.931 179.268ZM152.85 180.85C152.076 180.85 151.376 180.654 150.75 180.262C150.134 179.87 149.649 179.301 149.294 178.554C148.94 177.798 148.762 176.884 148.762 175.81C148.762 174.737 148.94 173.827 149.294 173.08C149.649 172.324 150.134 171.75 150.75 171.358C151.376 170.966 152.076 170.77 152.85 170.77C153.634 170.77 154.334 170.966 154.95 171.358C155.566 171.75 156.052 172.324 156.406 173.08C156.77 173.827 156.952 174.737 156.952 175.81C156.952 176.884 156.77 177.798 156.406 178.554C156.052 179.301 155.566 179.87 154.95 180.262C154.334 180.654 153.634 180.85 152.85 180.85ZM152.85 179.268C153.308 179.268 153.704 179.147 154.04 178.904C154.376 178.652 154.638 178.27 154.824 177.756C155.02 177.243 155.118 176.594 155.118 175.81C155.118 175.017 155.02 174.368 154.824 173.864C154.638 173.351 154.376 172.973 154.04 172.73C153.704 172.478 153.308 172.352 152.85 172.352C152.412 172.352 152.02 172.478 151.674 172.73C151.338 172.973 151.072 173.351 150.876 173.864C150.69 174.368 150.596 175.017 150.596 175.81C150.596 176.594 150.69 177.243 150.876 177.756C151.072 178.27 151.338 178.652 151.674 178.904C152.02 179.147 152.412 179.268 152.85 179.268Z" fill="white"/>
            <path d="M32.6092 150.842V139.642H33.9212L41.3292 148.842H40.6412V139.642H42.2412V150.842H40.9292L33.5212 141.642H34.2092V150.842H32.6092ZM50.6496 150.97C49.7856 150.97 48.9909 150.832 48.2656 150.554C47.5403 150.266 46.9109 149.866 46.3776 149.354C45.8443 148.832 45.4283 148.224 45.1296 147.53C44.8309 146.837 44.6816 146.074 44.6816 145.242C44.6816 144.41 44.8309 143.648 45.1296 142.954C45.4283 142.261 45.8443 141.658 46.3776 141.146C46.9216 140.624 47.5563 140.224 48.2816 139.946C49.0069 139.658 49.8069 139.514 50.6816 139.514C51.5669 139.514 52.3776 139.658 53.1136 139.946C53.8496 140.234 54.4736 140.666 54.9856 141.242L53.9936 142.234C53.5349 141.786 53.0336 141.461 52.4896 141.258C51.9563 141.045 51.3749 140.938 50.7456 140.938C50.1056 140.938 49.5083 141.045 48.9536 141.258C48.4096 141.472 47.9349 141.77 47.5296 142.154C47.1349 142.538 46.8256 142.997 46.6016 143.53C46.3883 144.053 46.2816 144.624 46.2816 145.242C46.2816 145.85 46.3883 146.421 46.6016 146.954C46.8256 147.477 47.1349 147.936 47.5296 148.33C47.9349 148.714 48.4096 149.013 48.9536 149.226C49.4976 149.44 50.0896 149.546 50.7296 149.546C51.3269 149.546 51.8976 149.456 52.4416 149.274C52.9963 149.082 53.5083 148.768 53.9776 148.33L54.8896 149.546C54.3349 150.016 53.6843 150.373 52.9376 150.618C52.2016 150.853 51.4389 150.97 50.6496 150.97ZM53.3536 149.338V145.178H54.8896V149.546L53.3536 149.338ZM62.593 150.97C61.121 150.97 59.9636 150.549 59.121 149.706C58.2783 148.864 57.857 147.632 57.857 146.01V139.642H59.457V145.946C59.457 147.194 59.729 148.106 60.273 148.682C60.8276 149.258 61.6063 149.546 62.609 149.546C63.6223 149.546 64.401 149.258 64.945 148.682C65.4996 148.106 65.777 147.194 65.777 145.946V139.642H67.329V146.01C67.329 147.632 66.9076 148.864 66.065 149.706C65.233 150.549 64.0756 150.97 62.593 150.97ZM73.157 150.842V146.554L73.525 147.546L68.709 139.642H70.421L74.469 146.314H73.541L77.605 139.642H79.189L74.389 147.546L74.741 146.554V150.842H73.157ZM82.0809 144.474H87.8409V145.834H82.0809V144.474ZM82.2249 149.45H88.7529V150.842H80.6249V139.642H88.5289V141.034H82.2249V149.45ZM91.3436 150.842V139.642H92.6556L100.064 148.842H99.3756V139.642H100.976V150.842H99.6636L92.2556 141.642H92.9436V150.842H91.3436ZM111.857 150.842L106.929 139.642H108.657L113.185 149.978H112.193L116.753 139.642H118.353L113.441 150.842H111.857ZM117.726 150.842L122.798 139.642H124.382L129.47 150.842H127.79L123.262 140.538H123.902L119.374 150.842H117.726ZM119.886 148.042L120.318 146.762H126.622L127.086 148.042H119.886ZM131.14 150.842V139.642H132.452L139.86 148.842H139.172V139.642H140.772V150.842H139.46L132.052 141.642H132.74V150.842H131.14ZM146.726 150.842L151.798 139.642H153.382L158.47 150.842H156.79L152.262 140.538H152.902L148.374 150.842H146.726ZM148.886 148.042L149.318 146.762H155.622L156.086 148.042H148.886Z" fill="white"/>
            <defs>
            <linearGradient id="paint0_linear_188_2056" x1="63.1345" y1="-33.1579" x2="100.981" y2="261.211" gradientUnits="userSpaceOnUse">
            <stop stop-color="#46E42C"/>
            <stop offset="1" stop-color="#4658F5"/>
            </linearGradient>
            </defs>
            </svg>
        </div>

        <div class="cardInformation">
          <div class="chooseCard">
            <div class="cardName">
              <div style="width: 16px;height:16px;background-color:#D9D9D9;border-radius:50%;display:flex;align-items:center;justify-content:center;">
                <div style="width: 12px;height:12px;background-color:#55D379;border-radius:50%"></div>
              </div>
              <P style="font-weight:600;margin:0;margin-left:2rem;">Credit / Debit Card</P>
            </div>
            <div class="cardImage">
                <svg width="41" height="34" viewBox="0 0 41 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_265_1890)">
                  <path d="M36.7842 13.0223C36.7842 12.4977 36.3979 12.2188 35.6886 12.2188H35.3445V13.8723H35.6746C36.3979 13.8723 36.7842 13.5801 36.7842 13.0223ZM37.3179 2.125H3.60838C1.74733 2.125 0.237427 3.55273 0.237427 5.3125V28.6875C0.237427 30.4473 1.74733 31.875 3.60838 31.875H37.3179C39.179 31.875 40.6889 30.4473 40.6889 28.6875V5.3125C40.6889 3.55273 39.179 2.125 37.3179 2.125ZM34.2208 11.3488C35.808 11.3488 37.9359 11.0766 37.9359 12.9691C37.9359 13.8059 37.4724 14.3438 36.6226 14.5098L38.4345 16.7941H37.0581L35.499 14.616H35.3445V16.7941H34.2208V11.3488ZM30.2951 11.3555H33.4764V12.2852H31.4187V13.4937H33.4062V14.4102H31.4187V15.8844H33.4764V16.8008H30.2951V11.3555ZM25.4704 11.3555L27.0084 15.0211L28.5675 11.3555H29.7965L27.3034 16.9469H26.6994L24.2414 11.3555H25.4704ZM21.5447 11.1562C23.2793 11.1562 24.6768 12.4844 24.6768 14.118C24.6768 15.7582 23.2723 17.0797 21.5447 17.0797C19.81 17.0797 18.4125 15.7516 18.4125 14.118C18.4125 12.4777 19.817 11.1562 21.5447 11.1562ZM18.0824 11.5613V12.823C16.6708 11.4883 14.7957 12.5109 14.7957 14.0848C14.7957 15.7449 16.727 16.6414 18.0824 15.3598V16.6215C15.9966 17.5711 13.637 16.243 13.637 14.0848C13.637 12.0129 15.9615 10.5652 18.0824 11.5613V11.5613ZM11.2562 15.9641C12.0568 15.9641 12.8293 14.948 11.0245 14.3438C9.97105 13.9785 9.60587 13.5867 9.60587 12.8363C9.60587 11.2957 11.7549 10.7512 13.0962 11.8867L12.5063 12.6039C11.7759 11.8336 10.7576 12.1922 10.7576 12.7699C10.7576 13.0621 10.9472 13.2281 11.6214 13.4539C12.8996 13.8922 13.2788 14.284 13.2788 15.1539C13.2788 17.1129 10.5539 17.6375 9.30389 15.9043L10.0272 15.2469C10.2871 15.7184 10.7225 15.9641 11.2562 15.9641V15.9641ZM4.12807 16.8008H2.48473V11.3555H4.12807C5.96102 11.3555 7.22513 12.4844 7.22513 14.0848C7.22513 15.3133 6.29812 16.8008 4.12807 16.8008ZM8.86847 16.8008H7.74482V11.3555H8.86847V16.8008ZM38.4416 28.7539C38.4416 29.2984 37.964 29.75 37.3881 29.75H9.22663C22.5419 27.3859 36.103 20.5062 38.4416 19.125V28.7539ZM5.44134 12.7234C5.07615 12.398 4.62669 12.2852 3.90334 12.2852H3.60838V15.8844H3.90334C4.62669 15.8844 5.09722 15.7516 5.44134 15.4594C5.84164 15.1141 6.06637 14.6094 6.06637 14.0848C6.06637 13.5602 5.84164 13.0555 5.44134 12.7234Z" fill="#D85B00"/>
                  </g>
                  <defs>
                  <clipPath id="clip0_265_1890">
                  <rect width="40.4514" height="34" fill="white" transform="translate(0.237427)"/>
                  </clipPath>
                  </defs>
                </svg>
                <svg width="44" height="34" viewBox="0 0 44 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_265_1892)">
                  <path d="M35.2945 15.3598C35.2945 15.3598 35.8527 17.8301 35.9775 18.348H33.5246C33.7669 17.757 34.6996 15.4594 34.6996 15.4594C34.6849 15.4793 34.942 14.8551 35.0889 14.4699L35.2945 15.3598ZM43.0719 5.3125V28.6875C43.0719 30.4473 41.4929 31.875 39.5468 31.875H4.29496C2.34876 31.875 0.769775 30.4473 0.769775 28.6875V5.3125C0.769775 3.55273 2.34876 2.125 4.29496 2.125H39.5468C41.4929 2.125 43.0719 3.55273 43.0719 5.3125ZM11.9696 21.9938L16.6111 11.6875H13.4898L10.6036 18.7266L10.2878 17.2988L9.25958 12.5574C9.09067 11.9 8.56924 11.7141 7.92295 11.6875H3.1713L3.1199 11.8934C4.28027 12.159 5.31579 12.5441 6.21912 13.0289L8.84831 21.9938H11.9696ZM18.9024 22.007L20.7531 11.6875H17.8008L15.9574 22.007H18.9024ZM29.1768 18.6336C29.1915 17.4582 28.3984 16.5617 26.7019 15.8246C25.6664 15.3531 25.0348 15.0344 25.0348 14.5496C25.0494 14.1113 25.5709 13.6598 26.7313 13.6598C27.6933 13.6398 28.3984 13.8457 28.9271 14.0516L29.1915 14.1645L29.5955 11.9332C29.0153 11.7273 28.0899 11.4949 26.9516 11.4949C24.036 11.4949 21.987 12.9027 21.9723 14.9082C21.9502 16.3891 23.4411 17.2125 24.5574 17.7105C25.6957 18.2152 26.085 18.5473 26.085 18.9922C26.0703 19.6828 25.1596 20.0016 24.315 20.0016C23.14 20.0016 22.5084 19.8355 21.5463 19.4504L21.1571 19.2844L20.7458 21.602C21.4361 21.8875 22.714 22.1398 24.036 22.1531C27.1352 22.1598 29.1548 20.7719 29.1768 18.6336ZM39.5468 22.007L37.1673 11.6875H34.8832C34.1782 11.6875 33.6421 11.8734 33.341 12.5441L28.9565 22.007H32.0557C32.0557 22.007 32.5625 20.732 32.6727 20.4598H36.4622C36.5504 20.825 36.8147 22.007 36.8147 22.007H39.5468Z" fill="#3644BD"/>
                  </g>
                  <defs>
                  <clipPath id="clip0_265_1892">
                  <rect width="42.3022" height="34" fill="white" transform="translate(0.769775)"/>
                  </clipPath>
                  </defs>
                </svg>
                <svg width="41" height="34" viewBox="0 0 41 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_265_1891)">
                  <path d="M34.1088 27.2465C34.1088 27.698 33.7878 28.0234 33.3274 28.0234C32.8529 28.0234 32.5459 27.6781 32.5459 27.2465C32.5459 26.8148 32.8529 26.4695 33.3274 26.4695C33.7878 26.4695 34.1088 26.8148 34.1088 27.2465ZM12.4245 26.4695C11.9292 26.4695 11.6431 26.8148 11.6431 27.2465C11.6431 27.6781 11.9292 28.0234 12.4245 28.0234C12.878 28.0234 13.185 27.698 13.185 27.2465C13.178 26.8148 12.878 26.4695 12.4245 26.4695ZM20.6224 26.4496C20.2456 26.4496 20.0154 26.682 19.9596 27.0273H21.2922C21.2294 26.6488 20.9852 26.4496 20.6224 26.4496ZM28.1435 26.4695C27.6691 26.4695 27.383 26.8148 27.383 27.2465C27.383 27.6781 27.6691 28.0234 28.1435 28.0234C28.6179 28.0234 28.9249 27.698 28.9249 27.2465C28.9249 26.8148 28.6179 26.4695 28.1435 26.4695ZM35.5321 28.2027C35.5321 28.2227 35.553 28.2359 35.553 28.2758C35.553 28.2957 35.5321 28.309 35.5321 28.3488C35.5111 28.3687 35.5111 28.382 35.4972 28.402C35.4762 28.4219 35.4623 28.4352 35.4204 28.4352C35.3995 28.4551 35.3856 28.4551 35.3437 28.4551C35.3228 28.4551 35.3088 28.4551 35.2669 28.4352C35.246 28.4352 35.2321 28.4152 35.2111 28.402C35.1902 28.382 35.1762 28.3687 35.1762 28.3488C35.1553 28.3156 35.1553 28.2957 35.1553 28.2758C35.1553 28.2426 35.1553 28.2227 35.1762 28.2027C35.1762 28.1695 35.1972 28.1496 35.2111 28.1297C35.2321 28.1098 35.246 28.1098 35.2669 28.0965C35.3018 28.0766 35.3228 28.0766 35.3437 28.0766C35.3786 28.0766 35.3995 28.0766 35.4204 28.0965C35.4553 28.1164 35.4762 28.1164 35.4972 28.1297C35.5181 28.143 35.5111 28.1695 35.5321 28.2027ZM35.3786 28.2957C35.4135 28.2957 35.4135 28.2758 35.4344 28.2758C35.4553 28.2559 35.4553 28.2426 35.4553 28.2227C35.4553 28.2027 35.4553 28.1895 35.4344 28.1695C35.4135 28.1695 35.3995 28.1496 35.3576 28.1496H35.246V28.382H35.3018V28.2891H35.3228L35.3995 28.382H35.4553L35.3786 28.2957ZM40.6043 5.37891V28.7539C40.6043 30.5137 39.1042 31.9414 37.2554 31.9414H3.76616C1.91727 31.9414 0.417236 30.5137 0.417236 28.7539V5.37891C0.417236 3.61914 1.91727 2.19141 3.76616 2.19141H37.2554C39.1042 2.19141 40.6043 3.61914 40.6043 5.37891ZM4.88246 14.6492C4.88246 19.7293 9.21513 23.8465 14.5455 23.8465C16.4432 23.8465 18.3061 23.302 19.8828 22.3125C14.7967 18.3746 14.8315 10.9438 19.8828 7.00586C18.3061 6.00977 16.4432 5.47188 14.5455 5.47188C9.21513 5.46523 4.88246 9.58906 4.88246 14.6492ZM20.5108 21.8742C25.4295 18.2219 25.4086 11.1031 20.5108 7.43086C15.613 11.1031 15.592 18.2285 20.5108 21.8742ZM10.5826 26.941C10.5826 26.3633 10.1849 25.9848 9.557 25.9648C9.23606 25.9648 8.89419 26.0578 8.66395 26.3965C8.49651 26.1242 8.21045 25.9648 7.81277 25.9648C7.54765 25.9648 7.28252 26.0578 7.07322 26.3234V26.0312H6.50111V28.4684H7.07322C7.07322 27.2133 6.89879 26.4629 7.70114 26.4629C8.41278 26.4629 8.27325 27.1402 8.27325 28.4684H8.82442C8.82442 27.2531 8.65 26.4629 9.45234 26.4629C10.164 26.4629 10.0245 27.127 10.0245 28.4684H10.5966V26.941H10.5826ZM13.7152 26.0312H13.1641V26.3234C12.9757 26.1043 12.7106 25.9648 12.3478 25.9648C11.6291 25.9648 11.078 26.5094 11.078 27.2465C11.078 27.9902 11.6291 28.5281 12.3478 28.5281C12.7106 28.5281 12.9757 28.402 13.1641 28.1695V28.475H13.7152V26.0312ZM16.5409 27.7313C16.5409 26.7352 14.9432 27.1867 14.9432 26.7219C14.9432 26.3434 15.7734 26.4031 16.2339 26.6488L16.4641 26.2172C15.8083 25.8121 14.3571 25.8188 14.3571 26.7617C14.3571 27.7113 15.9548 27.3129 15.9548 27.7578C15.9548 28.1762 15.0129 28.143 14.5106 27.8109L14.2664 28.2293C15.0478 28.734 16.5409 28.6277 16.5409 27.7313ZM19.0107 28.3488L18.8572 27.8973C18.5921 28.0367 18.006 28.1895 18.006 27.625V26.5227H18.92V26.0312H18.006V25.2875H17.4339V26.0312H16.9037V26.516H17.4339V27.625C17.4339 28.7938 18.6409 28.5812 19.0107 28.3488ZM19.9387 27.459H21.8573C21.8573 26.3832 21.341 25.9582 20.6433 25.9582C19.9038 25.9582 19.3735 26.4828 19.3735 27.2398C19.3735 28.6012 20.9503 28.827 21.7317 28.1828L21.4666 27.7844C20.9224 28.2094 20.0991 28.1695 19.9387 27.459ZM24.062 26.0312C23.7411 25.8984 23.2527 25.9117 23.0015 26.3234V26.0312H22.4294V28.4684H23.0015V27.0938C23.0015 26.3234 23.6643 26.423 23.8946 26.5359L24.062 26.0312ZM24.8016 27.2465C24.8016 26.4895 25.6109 26.2437 26.2458 26.6887L26.5109 26.257C25.7016 25.6527 24.2295 25.9848 24.2295 27.2531C24.2295 28.568 25.7923 28.8336 26.5109 28.2492L26.2458 27.8176C25.6039 28.2492 24.8016 27.9902 24.8016 27.2465ZM29.4552 26.0312H28.8831V26.3234C28.304 25.593 26.797 26.0047 26.797 27.2465C26.797 28.5215 28.3598 28.8867 28.8831 28.1695V28.475H29.4552V26.0312ZM31.8064 26.0312C31.6389 25.9516 31.0389 25.8387 30.7459 26.3234V26.0312H30.1947V28.4684H30.7459V27.0938C30.7459 26.3633 31.3738 26.4098 31.6389 26.5359L31.8064 26.0312ZM34.6181 25.0418H34.0669V26.3234C33.4948 25.5996 31.9808 25.9848 31.9808 27.2465C31.9808 28.5348 33.5506 28.8801 34.0669 28.1695V28.475H34.6181V25.0418ZM35.1483 20.0547V20.3602H35.2042V20.0547H35.3367V20.0016H35.0158V20.0547H35.1483ZM35.6088 28.2758C35.6088 28.2426 35.6088 28.2027 35.5879 28.1695C35.567 28.1496 35.553 28.1164 35.5321 28.0965C35.5111 28.0766 35.4762 28.0633 35.4553 28.0434C35.4204 28.0434 35.3786 28.0234 35.3437 28.0234C35.3228 28.0234 35.2879 28.0434 35.246 28.0434C35.2111 28.0633 35.1902 28.0766 35.1693 28.0965C35.1344 28.1164 35.1134 28.1496 35.1134 28.1695C35.0925 28.2027 35.0925 28.2426 35.0925 28.2758C35.0925 28.2957 35.0925 28.3289 35.1134 28.3688C35.1134 28.3887 35.1344 28.4219 35.1693 28.4418C35.1902 28.4617 35.2042 28.475 35.246 28.4949C35.2809 28.5148 35.3228 28.5148 35.3437 28.5148C35.3786 28.5148 35.4204 28.5148 35.4553 28.4949C35.4762 28.475 35.5111 28.4617 35.5321 28.4418C35.553 28.4219 35.567 28.3887 35.5879 28.3688C35.6088 28.3289 35.6088 28.2957 35.6088 28.2758ZM35.8321 19.9949H35.7344L35.6228 20.2273L35.5111 19.9949H35.4135V20.3535H35.4693V20.0812L35.5809 20.3137H35.6576L35.7553 20.0812V20.3535H35.8321V19.9949ZM36.1391 14.6492C36.1391 9.58906 31.8064 5.46523 26.476 5.46523C24.5783 5.46523 22.7155 6.00977 21.1387 6.99922C26.169 10.9371 26.2458 18.3879 21.1387 22.3059C22.7155 23.302 24.5923 23.8398 26.476 23.8398C31.8064 23.8465 36.1391 19.7293 36.1391 14.6492Z" fill="#BF9A39"/>
                  </g>
                  <defs>
                  <clipPath id="clip0_265_1891">
                  <rect width="40.187" height="34" fill="white" transform="translate(0.417236)"/>
                  </clipPath>
                  </defs>
                </svg>
                <svg width="42" height="34" viewBox="0 0 42 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_265_1893)">
                  <path d="M4.3206 31.875C2.45885 31.875 0.949646 30.4473 0.949646 28.6875V5.3125C0.949646 3.55207 2.45885 2.125 4.3206 2.125H38.0301C39.8912 2.125 41.4011 3.55207 41.4011 5.3125V5.47387H36.0989L34.905 8.63281L33.7181 5.47387H26.8919V9.66875L24.9185 5.47387H19.3986L13.6609 17.7371H18.282V28.6145H32.5874L34.8277 26.2836L37.068 28.6145H41.4011V28.6875C41.4011 30.4473 39.8912 31.875 38.0301 31.875H4.3206ZM34.8418 24.1719L31.8781 27.2465H28.3738L33.1142 22.4852L28.3738 17.6707H31.9835L34.898 20.7719L37.8475 17.6707H41.4011L36.6256 22.4586L41.4011 27.2465H37.7914L34.8418 24.1719ZM41.4011 19.716V25.2477L38.6411 22.4652L41.4011 19.716ZM22.5518 25.0418H28.3808V27.2465H19.8129V17.7371H28.3808V19.9352H22.5518V21.4227H28.2333V23.5676H22.5518V25.0484V25.0418ZM38.6833 9.67539L36.0918 16.3559H33.676L31.0916 9.69531V16.3559H28.3738V6.83984H32.6717L34.912 12.7699L37.1733 6.83984H41.4011V16.3559H38.6833V9.67539ZM24.441 14.45H19.8129L18.9772 16.3559H15.9574L20.3396 6.83984H23.9353L28.3808 16.3559H25.2837L24.441 14.45ZM22.1234 9.19727L20.754 12.3117H23.4859L22.1234 9.19727Z" fill="#1FA0BC"/>
                  </g>
                  <defs>
                  <clipPath id="clip0_265_1893">
                  <rect width="40.4514" height="34" fill="white" transform="translate(0.949646)"/>
                  </clipPath>
                  </defs>
                </svg>
            </div>
        </div>
        <div class="cardNumber">
          <p class="title">Card Number</p>
          <input placeholder="0000 - 0000 - 0000 - 0000">
            <svg style="margin-top: -7.5rem;margin-left: 1.5rem" width="32" height="26" viewBox="0 0 32 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9.33333 17.375C10.0722 17.375 10.6667 17.9602 10.6667 18.6875C10.6667 19.4148 10.0722 20 9.33333 20H6.66667C5.92778 20 5.33333 19.4148 5.33333 18.6875C5.33333 17.9602 5.92778 17.375 6.66667 17.375H9.33333ZM20 17.375C20.7389 17.375 21.3333 17.9602 21.3333 18.6875C21.3333 19.4148 20.7389 20 20 20H13.7778C13.0389 20 12.4444 19.4148 12.4444 18.6875C12.4444 17.9602 13.0389 17.375 13.7778 17.375H20ZM28.4444 0.75C30.4056 0.75 32 2.3168 32 4.25V21.75C32 23.6805 30.4056 25.25 28.4444 25.25H3.55556C1.59167 25.25 0 23.6805 0 21.75V4.25C0 2.3168 1.59167 0.75 3.55556 0.75H28.4444ZM28.4444 3.375H3.55556C3.06444 3.375 2.66667 3.76656 2.66667 4.25V6H29.3333V4.25C29.3333 3.76656 28.9333 3.375 28.4444 3.375ZM29.3333 11.25H2.66667V21.75C2.66667 22.2313 3.06444 22.625 3.55556 22.625H28.4444C28.9333 22.625 29.3333 22.2313 29.3333 21.75V11.25Z" fill="url(#paint0_linear_1083_15)"/>
            <defs>
            <linearGradient id="paint0_linear_1083_15" x1="-3.1183e-07" y1="1" x2="30" y2="23" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5DB55B"/>
            <stop offset="0.0001" stop-color="#71C270"/>
            <stop offset="1" stop-color="#094A07"/>
            </linearGradient>
            </defs>
            </svg>
        </div>
        <div class="expiryDate">
          <p class="title">Expiry Date</p>
          <input placeholder="DD-YY">
        </div>
        <div class="securityCode">
          <p class="title">Security Code</p>
          <input placeholder="000">
        </div>

        <div class="fullName">
          <p class="title">Full Name</p>
          <input placeholder="NGUYEN VAN A">
        </div>
        <div style="margin-top: 5rem;" class="chooseCard">
            <div class="cardName">
              <div style="width: 16px;height:16px;background-color:#D9D9D9;border-radius:50%;display:flex;align-items:center;justify-content:center;">
              </div>
              <P style="font-weight:600;margin:0;margin-left:2rem;">Paypal</P>
            </div>
            <div class="cardImage">
              <svg width="42" height="34" viewBox="0 0 42 34" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_265_1907)">
              <path d="M13.96 17.1461C13.96 17.9563 13.2776 18.5738 12.4124 18.5738C11.7652 18.5738 11.2868 18.2285 11.2868 17.5777C11.2868 16.7676 11.9551 16.1168 12.8133 16.1168C13.4676 16.1168 13.96 16.4953 13.96 17.1461ZM6.51723 13.9254H6.1866C6.08108 13.9254 5.97556 13.9918 5.96149 14.1047L5.65899 15.8777L6.23584 15.8578C7.00967 15.8578 7.60762 15.7582 7.74832 14.9148C7.91012 14.025 7.31216 13.9254 6.51723 13.9254ZM26.496 13.9254H26.1794C26.0528 13.9254 25.9684 13.9918 25.9543 14.1047L25.6588 15.8777L26.2216 15.8578C27.1361 15.8578 27.7693 15.6586 27.7693 14.6625C27.7622 13.9586 27.0939 13.9254 26.496 13.9254ZM41.3745 5.3125V28.6875C41.3745 30.4473 39.862 31.875 37.9978 31.875H4.23093C2.36672 31.875 0.854248 30.4473 0.854248 28.6875V5.3125C0.854248 3.55273 2.36672 2.125 4.23093 2.125H37.9978C39.862 2.125 41.3745 3.55273 41.3745 5.3125ZM9.87985 14.3039C9.87985 12.9094 8.74022 12.4445 7.43879 12.4445H4.62488C4.44901 12.4445 4.27314 12.5773 4.25907 12.7566L3.10537 19.5367C3.08427 19.6695 3.18979 19.8023 3.33048 19.8023H4.66709C4.85703 19.8023 5.0329 19.6098 5.054 19.4238L5.37057 17.6574C5.44091 17.1793 6.29915 17.3453 6.63682 17.3453C8.64877 17.3453 9.87985 16.2164 9.87985 14.3039ZM15.8031 14.8883H14.4665C14.1992 14.8883 14.1851 15.2535 14.1711 15.4328C13.763 14.8684 13.1721 14.7687 12.5038 14.7687C10.7803 14.7687 9.4648 16.1965 9.4648 17.7703C9.4648 19.0652 10.323 19.9086 11.6948 19.9086C12.3279 19.9086 13.1158 19.5832 13.559 19.1184C13.5239 19.218 13.4887 19.4305 13.4887 19.5301C13.4887 19.6828 13.559 19.7957 13.7138 19.7957H14.9238C15.1137 19.7957 15.2755 19.6031 15.3107 19.4172L16.0282 15.1473C16.0493 15.0211 15.9438 14.8883 15.8031 14.8883ZM18.6522 21.3895L23.1333 15.2402C23.1685 15.207 23.1685 15.1738 23.1685 15.1273C23.1685 15.0145 23.063 14.8949 22.9434 14.8949H21.5927C21.4731 14.8949 21.3465 14.9613 21.2762 15.0609L19.412 17.6508L18.6381 15.1605C18.5819 15.0145 18.4271 14.8949 18.2512 14.8949H16.9357C16.8161 14.8949 16.7106 15.0145 16.7106 15.1273C16.7106 15.207 18.0824 18.8992 18.202 19.2512C18.012 19.5035 16.7598 21.1504 16.7598 21.3496C16.7598 21.4691 16.8654 21.5621 16.985 21.5621H18.3356C18.4623 21.5555 18.5819 21.4891 18.6522 21.3895ZM29.8586 14.3039C29.8586 12.9094 28.7189 12.4445 27.4175 12.4445H24.6247C24.4348 12.4445 24.2589 12.5773 24.2378 12.7566L23.0982 19.5301C23.0841 19.6629 23.1896 19.7957 23.3233 19.7957H24.7654C24.9061 19.7957 25.0116 19.6961 25.0468 19.5832L25.3634 17.6574C25.4337 17.1793 26.292 17.3453 26.6296 17.3453C28.6275 17.3453 29.8586 16.2164 29.8586 14.3039ZM35.7818 14.8883H34.4452C34.1779 14.8883 34.1639 15.2535 34.1427 15.4328C33.7558 14.8684 33.1579 14.7687 32.4755 14.7687C30.752 14.7687 29.4365 16.1965 29.4365 17.7703C29.4365 19.0652 30.2947 19.9086 31.6665 19.9086C32.3207 19.9086 33.1086 19.5832 33.5307 19.1184C33.5096 19.218 33.4604 19.4305 33.4604 19.5301C33.4604 19.6828 33.5307 19.7957 33.6855 19.7957H34.9025C35.0924 19.7957 35.2542 19.6031 35.2894 19.4172L36.007 15.1473C36.0281 15.0211 35.9225 14.8883 35.7818 14.8883ZM39.1234 12.677C39.1234 12.5441 39.0178 12.4445 38.8982 12.4445H37.5968C37.4913 12.4445 37.3858 12.5242 37.3717 12.6238L36.2321 19.5301L36.211 19.5633C36.211 19.6828 36.3165 19.7957 36.4572 19.7957H37.6179C37.7938 19.7957 37.9697 19.6031 37.9837 19.4172L39.1234 12.6969V12.677ZM32.7921 16.1168C31.9338 16.1168 31.2655 16.7609 31.2655 17.5777C31.2655 18.2219 31.758 18.5738 32.4052 18.5738C33.2493 18.5738 33.9317 17.9629 33.9317 17.1461C33.9387 16.4953 33.4463 16.1168 32.7921 16.1168Z" fill="#2F8CF8"/>
              </g>
              <defs>
              <clipPath id="clip0_265_1907">
              <rect width="40.5202" height="34" fill="white" transform="translate(0.854248)"/>
              </clipPath>
              </defs>
              </svg>
            </div>
        </div>
        </div>
      </div>
      {{!-- payment close--}}


      <form method="post" class="checkout ">
        <div class="price">
          <p class="label">Price</p>
          <p class="value">$0</p>
        </div>
        <div class="discount">
          <p class="label">Discount</p>
          <p class="value">(0%) - $0.00</p>
        </div>
        <div class="tax">
          <p class="label">Tax</p>
          <p class="value">+ $5.00</p>
        </div>
        <div class="total">
          <p class="label">Total</p>
          <p class="value">$0</p>
        </div>
        <div class="promotion ">
          <input class="promotionInput" placeholder="Enter your promote code...">
          <button class="promotionButton">Apply</button>
        </div>

        {{!-- payment open --}}
        <p class="Coupons shoppingCartHidden">Coupons</p>
        {{!-- payment close --}}

        <div class="promotionList"></div>

        <button type="button" class="checkoutButton ">checkout</button>

        {{!-- payment open --}}
        <button name="deleteItem" value="payment" class="paymentButton shoppingCartHidden">payment</button>
        {{!-- payment close --}}

      </form>
    </div>


  </div>
  <form method="post" name="deleteItem">
    <input value="delete" type="hidden" name="deleteItem">
    <input value="delete" type="hidden" name="id" class="getId">
  </form>
  <input type="hidden" class="message" value="{{messages}}">
    <script>
    const addPromotion=(item,index)=>{
    $(".promotionList").append(`<div id=${index} class="promotionItem">
        <p>${item}</p>
        <img>
        <svg class="deletePromotionItem" width="10" height="20" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_182_14269)">
            <path
              d="M7.76498 3.82378C8.07748 3.5064 8.07748 2.99097 7.76498 2.67358C7.45248 2.3562 6.94498 2.3562 6.63248 2.67358L3.99998 5.34976L1.36498 2.67612C1.05248 2.35874 0.544983 2.35874 0.232483 2.67612C-0.0800171 2.99351 -0.0800171 3.50894 0.232483 3.82632L2.86748 6.49995L0.234983 9.17612C-0.0775171 9.49351 -0.0775171 10.0089 0.234983 10.3263C0.547483 10.6437 1.05498 10.6437 1.36748 10.3263L3.99998 7.65015L6.63498 10.3238C6.94748 10.6412 7.45498 10.6412 7.76748 10.3238C8.07998 10.0064 8.07998 9.49097 7.76748 9.17358L5.13248 6.49995L7.76498 3.82378Z"
              fill="#00A656" />
          </g>
          <defs>
            <clipPath id="clip0_182_14269">
              <rect width="8" height="13" fill="white" />
            </clipPath>
          </defs>
        </svg>
        </img>
      </div>`)
    };
    const promotionList=[]
      
    promotionList.forEach(addPromotion)

    $(".deletePromotionItem").on("click", (event)=>{
      $(event.currentTarget).parent().remove(`${event.currentTarget.id}`);
      promotionList.remove(event.currentTarget.id) 
    });

    $(".promotionButton").click(function(){
        let bla = $('.promotionInput').val();
        if(bla.length>0){
           promotionList.push(bla);
          addPromotion(bla, promotionList.length - 1);

          $(`#${promotionList.length - 1} .deletePromotionItem`).on("click", (event)=>{
            $(event.currentTarget).parent().remove(`${event.currentTarget.id}`); 
            promotionList.splice(promotionList.indexOf(event.currentTarget.id),1) 
          });

          $('.promotionInput').val("");
        }
    });

    $('.promotionInput').keypress(function (e) {
        var key = e.which;
        if(key == 13)  // the enter key code
          {
            let bla = $('.promotionInput').val();
             if(bla.length>0){
              promotionList.push(bla);
              addPromotion(bla, promotionList.length - 1);

              $(`#${promotionList.length - 1} .deletePromotionItem`).on("click", (event)=>{
                $(event.currentTarget).parent().remove(`${event.currentTarget.id}`);
                promotionList.splice(promotionList.indexOf(event.currentTarget.id),1) 
              });

              $('.promotionInput').val("");
        }
          }
    });   

    const addItem=(item,index)=>{
      $(".itemList").append(`<div id=${index} class="item">
          <div class="image">
            <img src=${item.img}>
            <button value="update" name="cc" type="button" class="trashButton">
              <img>
              <svg width="30" height="34" viewBox="0 0 30 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_187_14482)">
                  <path
                    d="M9.05357 1.17539C9.41518 0.451563 10.1585 0 10.9687 0H19.0313C19.8415 0 20.5848 0.451563 20.9464 1.17539L21.4286 2.125H27.8571C29.0424 2.125 30 3.07461 30 4.25C30 5.42539 29.0424 6.375 27.8571 6.375H2.14286C0.957589 6.375 0 5.42539 0 4.25C0 3.07461 0.957589 2.125 2.14286 2.125H8.57143L9.05357 1.17539ZM2.14286 8.5H27.8571V29.75C27.8571 32.0941 25.9353 34 23.5714 34H6.42857C4.06473 34 2.14286 32.0941 2.14286 29.75V8.5ZM8.57143 12.75C7.98214 12.75 7.5 13.2281 7.5 13.8125V28.6875C7.5 29.2719 7.98214 29.75 8.57143 29.75C9.16071 29.75 9.64286 29.2719 9.64286 28.6875V13.8125C9.64286 13.2281 9.16071 12.75 8.57143 12.75ZM15 12.75C14.4107 12.75 13.9286 13.2281 13.9286 13.8125V28.6875C13.9286 29.2719 14.4107 29.75 15 29.75C15.5893 29.75 16.0714 29.2719 16.0714 28.6875V13.8125C16.0714 13.2281 15.5893 12.75 15 12.75ZM21.4286 12.75C20.8393 12.75 20.3571 13.2281 20.3571 13.8125V28.6875C20.3571 29.2719 20.8393 29.75 21.4286 29.75C22.0179 29.75 22.5 29.2719 22.5 28.6875V13.8125C22.5 13.2281 22.0179 12.75 21.4286 12.75Z"
                    fill="white" />
                </g>
                <defs>
                  <clipPath id="clip0_187_14482">
                    <rect width="30" height="34" fill="white" />
                  </clipPath>
                </defs>
              </svg>
              </img>
            </button>
          </div>
          <div class="information">
            <p class="name">${item.name}</p>
            <div class="rate--author">
              <div class="rate">
                <p>${item.rate}</p>
                {{#times 4}}
                <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M8.80278 0.492188C8.65556 0.191406 8.34444 0 8.00278 0C7.66111 0 7.35278 0.191406 7.20278 0.492188L5.41667 4.10977L1.42778 4.68945C1.09444 4.73867 0.816667 4.96836 0.713889 5.28281C0.611111 5.59727 0.694444 5.94453 0.933333 6.17695L3.82778 8.99609L3.14444 12.9801C3.08889 13.3082 3.22778 13.6418 3.50278 13.8359C3.77778 14.0301 4.14167 14.0547 4.44167 13.8988L8.00556 12.0258L11.5694 13.8988C11.8694 14.0547 12.2333 14.0328 12.5083 13.8359C12.7833 13.6391 12.9222 13.3082 12.8667 12.9801L12.1806 8.99609L15.075 6.17695C15.3139 5.94453 15.4 5.59727 15.2944 5.28281C15.1889 4.96836 14.9139 4.73867 14.5806 4.68945L10.5889 4.10977L8.80278 0.492188Z"
                    fill="#FFF500" />
                </svg>
                {{/times}}

                <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_187_14473)">
                    <path
                      d="M10.5028 4.23281L14.7611 4.85352C15.0111 4.88906 15.2167 5.06133 15.2972 5.29648C15.375 5.53437 15.3111 5.79414 15.1333 5.96641L12.0444 8.97969L12.775 13.2316C12.8167 13.4777 12.7139 13.7293 12.5056 13.8742C12.3 14.0191 12.0028 14.0383 11.8028 13.9207L7.99722 11.9191L4.16944 13.9207C3.96944 14.0383 3.69722 14.0191 3.48889 13.8742C3.28333 13.7293 3.18056 13.4777 3.19722 13.2316L3.95 8.97969L0.864167 5.96641C0.684722 5.79414 0.621111 5.53437 0.7 5.29648C0.778611 5.06133 0.986111 4.88906 1.23583 4.85352L5.49167 4.23281L7.39722 0.369687C7.51111 0.143527 7.74167 0 7.99722 0C8.25278 0 8.48611 0.143555 8.59722 0.369687L10.5028 4.23281ZM7.975 10.5191C8.10833 10.5191 8.21389 10.5437 8.31111 10.5957L11.2333 12.1324L10.6722 8.86211C10.6361 8.65156 10.7083 8.43555 10.8611 8.28516L13.2472 5.9582L9.96111 5.48242C9.74167 5.44961 9.55278 5.31289 9.45833 5.11875L7.975 2.16262V10.5191Z"
                      fill="#FFF500" />
                  </g>
                  <defs>
                    <clipPath id="clip0_187_14473">
                      <rect width="16" height="14" fill="white" />
                    </clipPath>
                  </defs>
                </svg>
                <p>(${item.numReview})</p>
              </div>
              <p class="author">${item.author}</p>
            </div>
            <p class="view">${item.view} views</p>
            <p class="date">${item.date}</p>
            <p class="itemPrice">$${item.price}</p>
            <p class="bestseller">
              Bestseller
            </p>
          </div>
        </div>`)};

        
        const itemList = JSON.parse(`{{{course}}}`)

        if(itemList.length>0){
          $(".cartIsEmpty").addClass("shoppingCartHidden")
        }

        let total = 0;
        let discount = 0;
        for(let i=0;i<itemList.length;i++){
          total+=parseFloat(itemList[i].price);
          discount += parseFloat(itemList[i].discount);
        }
        if(total>0){
         $(".price > .value").text("$"+(Math.round(total * 100) / 100))
         $(".total > .value").text("$"+(Math.round((total+5-discount) * 100) / 100))
        }
        //(0%) - $0.00
        if(discount>0){
          $(".discount >.value").text("("+(Math.round((discount/total) * 10000) / 100)+"%) - $"+(Math.round(discount * 100) / 100))
        }
        
        itemList.forEach(addItem);
        
        let deleteForm = document.forms['deleteItem']

        $(".trashButton").on("click", (event)=>{
          $(event.currentTarget).parent().parent().remove(`${event.currentTarget.id}`); 
          itemList[$(event.currentTarget).parent().parent().attr('id')].price = 0;
          $(".getId").val(itemList[$(event.currentTarget).parent().parent().attr('id')].id)
          
          deleteForm.submit()
        });


        $(".checkoutButton").on("click",(event)=>{
          if(itemList.length>0){
          $(".paymentButton").removeClass("shoppingCartHidden")
          $(".checkoutButton").addClass("shoppingCartHidden")
          $(".itemList").addClass("shoppingCartHidden")
          $(".promotion").addClass("shoppingCartHidden")
          $(".titlee").addClass("shoppingCartHidden")
          $(".paymentMethod").removeClass("shoppingCartHidden")
          $(".Coupons").removeClass("shoppingCartHidden")
          $(".checkout").addClass("shoppingCartMargin")
          }
          else{
            alert("Shopping cart is empty")
          }
        })
          
        //$(document).ready(function(){
        //  const messages = '{{{message}}}'
        //  if(messages && (messages==="success")) alert("Payment successfully!");
        //})
  </script>
  </div>