<div class="course-learning">
    <div class="course-contents">

    </div>
    <div class="course-lectures">
        <div class="lecture-heading">
            <b class="title">Course lectures</b>
            <div class="progress-bar-group">
                <div class="progress-bar-status">
                    <span>5% Completed</span>
                    <span>5 / 100</span>
                </div>
                <div class="progress-bar">
                    <div class="progress-bar-fill"></div>
                </div>
            </div>
        </div>
        <div class="course-lectures-list">
            <div class="course-lectures-item">
                <div class="section-heading">
                    <div class="section-title">
                        <span class="section-index">01</span>
                        <span class="section-name">Welcome, Welcome, Welcome!</span>
                    </div>
                    <div class="section-checkbox">
                        <div class="checkbox-cs">
                            <input class="checkbox-input-cs" type="checkbox" id="section-1" />
                            <label class="checkbox-label" for="section-1">
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="section-content">
                    <div class="lesson-item">
                        <div class="lesson-item-checkbox"></div>
                        <div class="lesson-item-content"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>