<div class="course-learning">
    <div class="course-contents">

    </div>
    <div class="course-lectures">
        <div class="lecture-heading">
            <b class="title">Course lectures</b>
        </div>
    </div>
</div>