{{!-- <div class = "sidebar">
    <a href="/dashboard">Dashboard</a>
    <div class = "my-courses"><a href="/my-courses">My Courses</a></div>
    <div class = "enrolled-courses"><a href="/enrolled-courses">Enrolled Course</a></div>
    <div class = "watch-history"><a href="/watch-history">Watch History</a></div>
    <div class = "sales"><a href="/sales">Sales</a></div>
    <div class = "profiles"><a href="/my-profile">Profile</a></div>
    <div class  = "go-to">GO TO</div>
    <div class = "home"><a href="/home">Home</a></div>
</div> --}}
{{!-- 
<div id = "sidebar">
    <a href="/dashboard">Dashboard</a>
    <a href="/my-courses">My Courses</a>
    <a href="/enrolled-courses">Enrolled Course</a>
    <a href="/watch-history">Watch History</a>
    <a href="/sales">Sales</a>
    <div class = "profiles"><a href="/my-profile">Profile</a></div>
    <div class  = "go-to">GO TO</div>
    <H1>vcl</H1>
    <H1>vcl</H1>
    <H1>vcl</H1>
    <H1>vcl</H1>
    <H1>vcl</H1>
</div> --}}

