<div class="info-container">
  <div class="content">
    <div class="info-content">
        <p class="p-green">Course > {{courseDetail.category}} > {{#each courseDetail.subcategory}}{{this}} &nbsp;{{/each}}</p>
        <h1>{{courseDetail.name}}</h1>
        <p>{{courseDetail.description}}</p>
    </div>
  </div>

  <div class="video">

  </div>
</div>