<div
    id="carouselHotView"
    class="carousel slide"
    data-bs-ride="carousel"
    data-bs-interval="7000"
>
    <div class="carousel-indicators">
        <button
            type="button"
            data-bs-target="#carouselHotView"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
        ></button>
        <button
            type="button"
            data-bs-target="#carouselHotView"
            data-bs-slide-to="1"
            aria-label="Slide 2"
        ></button>
        <button
            type="button"
            data-bs-target="#carouselHotView"
            data-bs-slide-to="2"
            aria-label="Slide 3"
        ></button>
        <button
            type="button"
            data-bs-target="#carouselHotView"
            data-bs-slide-to="3"
            aria-label="Slide 4"
        ></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div
                class="bd-placeholder-img bd-placeholder-img-lg w-100 hot-card"
            >
                <div class="lecture-content">
                    <img
                        src="/assets/images/home/carousel/carousel1.png"
                        alt="slide 1"
                    />
                    <div class="details">
                        <div class="details__heading">
                            <b>Xây dựng Website với ReactJS</b>
                            <span class="timer ms-auto">
                                <i class="fa-regular fa-clock"></i>
                                <span>15-12-2022</span>
                            </span>
                            <span class="rates">
                                <b>4.6</b>
                                <span class="flex">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star-half-stroke"></i>
                                </span>
                            </span>
                        </div>
                        <div class="details__body">
                            <div>
                                <b>Introduce</b>
                                <p>
                                    Khóa học ReactJS từ cơ bản tới nâng cao, kết
                                    quả của khóa học này là bạn có thể làm hầu
                                    hết các dự án thường gặp với ReactJS. Cuối
                                    khóa học này bạn sẽ sở hữu một dự án giống
                                    Tiktok.com, bạn có thể tự tin đi xin việc
                                    khi nắm chắc các kiến thức được chia sẻ
                                    trong khóa học này.
                                </p>
                            </div>
                            <div class="details__overview">
                                <b>Overview</b>
                                <div class="details__overview-ls">
                                    <span class="overview__item">
                                        <i class="fa-solid fa-video"></i>
                                        <span>28h 07m duration</span>
                                    </span>
                                    <span class="overview__item">
                                        <i class="fa-solid fa-film"></i>
                                        <span>Total 119 lessons</span>
                                    </span>
                                    <span class="overview__item">
                                        <i class="fa-solid fa-certificate"></i>
                                        <span>Certificate of completion</span>
                                    </span>
                                    <span class="overview__item">
                                        <i
                                            class="fa-solid fa-mobile-screen"
                                        ></i>
                                        <span>Learn on any device</span>
                                    </span>
                                </div>
                            </div>
                            <a class="button-cs">More Details</a>
                        </div>
                    </div>
                </div>
                <div class="video-review">
                    <img
                        src="/assets/images/home/carousel/review1.png"
                        alt="slide 1"
                    />
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div
                class="bd-placeholder-img bd-placeholder-img-lg w-100 hot-card"
            >
                <div class="lecture-content">
                    <img
                        src="/assets/images/home/carousel/carousel1.png"
                        alt="slide 1"
                    />
                    <div class="details">
                        <div class="details__heading">
                            <b>Xây dựng Website với ReactJS</b>
                            <span class="timer ms-auto">
                                <i class="fa-regular fa-clock"></i>
                                <span>15-12-2022</span>
                            </span>
                            <span class="rates">
                                <b>4.6</b>
                                <span class="flex">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star-half-stroke"></i>
                                </span>
                            </span>
                        </div>
                        <div class="details__body">
                            <div>
                                <b>Introduce</b>
                                <p>
                                    Khóa học ReactJS từ cơ bản tới nâng cao, kết
                                    quả của khóa học này là bạn có thể làm hầu
                                    hết các dự án thường gặp với ReactJS. Cuối
                                    khóa học này bạn sẽ sở hữu một dự án giống
                                    Tiktok.com, bạn có thể tự tin đi xin việc
                                    khi nắm chắc các kiến thức được chia sẻ
                                    trong khóa học này.
                                </p>
                            </div>
                            <div class="details__overview">
                                <b>Overview</b>
                                <div class="details__overview-ls">
                                    <span class="overview__item">
                                        <i class="fa-solid fa-video"></i>
                                        <span>28h 07m duration</span>
                                    </span>
                                    <span class="overview__item">
                                        <i class="fa-solid fa-film"></i>
                                        <span>Total 119 lessons</span>
                                    </span>
                                    <span class="overview__item">
                                        <i class="fa-solid fa-certificate"></i>
                                        <span>Certificate of completion</span>
                                    </span>
                                    <span class="overview__item">
                                        <i
                                            class="fa-solid fa-mobile-screen"
                                        ></i>
                                        <span>Learn on any device</span>
                                    </span>
                                </div>
                            </div>
                            <a class="button-cs">More Details</a>
                        </div>
                    </div>
                </div>
                <div class="video-review">
                    <img
                        src="/assets/images/home/carousel/review1.png"
                        alt="slide 1"
                    />
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div
                class="bd-placeholder-img bd-placeholder-img-lg w-100 hot-card"
            >
                <div class="lecture-content">
                    <img
                        src="/assets/images/home/carousel/carousel1.png"
                        alt="slide 1"
                    />
                    <div class="details">
                        <div class="details__heading">
                            <b>Xây dựng Website với ReactJS</b>
                            <span class="timer ms-auto">
                                <i class="fa-regular fa-clock"></i>
                                <span>15-12-2022</span>
                            </span>
                            <span class="rates">
                                <b>4.6</b>
                                <span class="flex">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star-half-stroke"></i>
                                </span>
                            </span>
                        </div>
                        <div class="details__body">
                            <div>
                                <b>Introduce</b>
                                <p>
                                    Khóa học ReactJS từ cơ bản tới nâng cao, kết
                                    quả của khóa học này là bạn có thể làm hầu
                                    hết các dự án thường gặp với ReactJS. Cuối
                                    khóa học này bạn sẽ sở hữu một dự án giống
                                    Tiktok.com, bạn có thể tự tin đi xin việc
                                    khi nắm chắc các kiến thức được chia sẻ
                                    trong khóa học này.
                                </p>
                            </div>
                            <div class="details__overview">
                                <b>Overview</b>
                                <div class="details__overview-ls">
                                    <span class="overview__item">
                                        <i class="fa-solid fa-video"></i>
                                        <span>28h 07m duration</span>
                                    </span>
                                    <span class="overview__item">
                                        <i class="fa-solid fa-film"></i>
                                        <span>Total 119 lessons</span>
                                    </span>
                                    <span class="overview__item">
                                        <i class="fa-solid fa-certificate"></i>
                                        <span>Certificate of completion</span>
                                    </span>
                                    <span class="overview__item">
                                        <i
                                            class="fa-solid fa-mobile-screen"
                                        ></i>
                                        <span>Learn on any device</span>
                                    </span>
                                </div>
                            </div>
                            <a class="button-cs">More Details</a>
                        </div>
                    </div>
                </div>
                <div class="video-review">
                    <img
                        src="/assets/images/home/carousel/review1.png"
                        alt="slide 1"
                    />
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div
                class="bd-placeholder-img bd-placeholder-img-lg w-100 hot-card"
            >
                <div class="lecture-content">
                    <img
                        src="/assets/images/home/carousel/carousel1.png"
                        alt="slide 1"
                    />
                    <div class="details">
                        <div class="details__heading">
                            <b>Xây dựng Website với ReactJS</b>
                            <span class="timer ms-auto">
                                <i class="fa-regular fa-clock"></i>
                                <span>15-12-2022</span>
                            </span>
                            <span class="rates">
                                <b>4.6</b>
                                <span class="flex">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star-half-stroke"></i>
                                </span>
                            </span>
                        </div>
                        <div class="details__body">
                            <div>
                                <b>Introduce</b>
                                <p>
                                    Khóa học ReactJS từ cơ bản tới nâng cao, kết
                                    quả của khóa học này là bạn có thể làm hầu
                                    hết các dự án thường gặp với ReactJS. Cuối
                                    khóa học này bạn sẽ sở hữu một dự án giống
                                    Tiktok.com, bạn có thể tự tin đi xin việc
                                    khi nắm chắc các kiến thức được chia sẻ
                                    trong khóa học này.
                                </p>
                            </div>
                            <div class="details__overview">
                                <b>Overview</b>
                                <div class="details__overview-ls">
                                    <span class="overview__item">
                                        <i class="fa-solid fa-video"></i>
                                        <span>28h 07m duration</span>
                                    </span>
                                    <span class="overview__item">
                                        <i class="fa-solid fa-film"></i>
                                        <span>Total 119 lessons</span>
                                    </span>
                                    <span class="overview__item">
                                        <i class="fa-solid fa-certificate"></i>
                                        <span>Certificate of completion</span>
                                    </span>
                                    <span class="overview__item">
                                        <i
                                            class="fa-solid fa-mobile-screen"
                                        ></i>
                                        <span>Learn on any device</span>
                                    </span>
                                </div>
                            </div>
                            <a class="button-cs">More Details</a>
                        </div>
                    </div>
                </div>
                <div class="video-review">
                    <img
                        src="/assets/images/home/carousel/review1.png"
                        alt="slide 1"
                    />
                </div>
            </div>
        </div>
        <div class="hot__course-overlay">
            <div class="lecture-content"></div>
            <div class="video-review">
                <div class="player">
                    <i class="fa-solid fa-play"></i>
                </div>
            </div>
        </div>
    </div>
    <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselHotView"
        data-bs-slide="prev"
    >
        <span aria-hidden="true"><i class="fa-solid fa-chevron-left"></i></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselHotView"
        data-bs-slide="next"
    >
        <span aria-hidden="true"><i
                class="fa-solid fa-chevron-right"
            ></i></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<script>
    $(function() { $('#carouselHotView').carousel({ interval: 7000, cycle: true
    }); });
</script>

<main>
    <div class="course-list">
        <h1>Most views</h1>
        <div class="course-list-wrapper">
            <div
                id="carouselMostView"
                class="carousel slide course-ls"
                data-bs-ride="false"
            >
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="course-card">
                            <div class="course-card-overlay">
                                <button class="button-cs">More Details</button>
                            </div>
                            <img
                                src="/assets/images/home/course-list/card/courseimage.png"
                                class="course-card-img"
                                alt="course-img"
                            />
                            <div class="card-main">
                                <h1 class="card-heading">The Complete Javascript
                                    Course: Version 1</h1>
                                <div class="card-author">
                                    <i class="fa-solid fa-user-pen"></i>
                                    <span>Jonas Schmedtmann</span>
                                </div>
                                <div class="card-details-ls">
                                    <div class="card-details-ls-icon">
                                        <span><b>4.6</b></span>
                                        <span><i
                                                class="fa-regular fa-eye"
                                            ></i></span>
                                        <span><i
                                                class="fa-solid fa-tag"
                                            ></i></span>
                                    </div>
                                    <div class="card-details-ls-content">
                                        <div class="card-details-ls-item">
                                            <span class="flex g-0">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i
                                                    class="fa-solid fa-star-half-stroke"
                                                ></i>
                                            </span>
                                            <small>(160.753)</small>
                                        </div>
                                        <div>
                                            <small>723.841 views</small>
                                        </div>
                                        <div>
                                            <small>Website development</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <span class="card-price">
                                        <i class="fa-solid fa-dollar"></i>
                                        <span class="price-number">182</span>
                                        <i class="fa-solid fa-arrow-right"></i>
                                        <b class="sale-number">
                                            <i class="fa-solid fa-dollar"></i>
                                            <span>99</span>
                                        </b>
                                    </span>
                                    <span class="card-clock">
                                        <i class="fa-regular fa-clock"></i>
                                        <span>16-12-2022</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="course-card">
                            <div class="course-card-overlay">
                                <button class="button-cs">More Details</button>
                            </div>
                            <img
                                src="/assets/images/home/course-list/card/courseimage.png"
                                class="course-card-img"
                                alt="course-img"
                            />
                            <div class="card-main">
                                <h1 class="card-heading">The Complete Javascript
                                    Course: Version 1</h1>
                                <div class="card-author">
                                    <i class="fa-solid fa-user-pen"></i>
                                    <span>Jonas Schmedtmann</span>
                                </div>
                                <div class="card-details-ls">
                                    <div class="card-details-ls-icon">
                                        <span><b>4.6</b></span>
                                        <span><i
                                                class="fa-regular fa-eye"
                                            ></i></span>
                                        <span><i
                                                class="fa-solid fa-tag"
                                            ></i></span>
                                    </div>
                                    <div class="card-details-ls-content">
                                        <div class="card-details-ls-item">
                                            <span class="flex g-0">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i
                                                    class="fa-solid fa-star-half-stroke"
                                                ></i>
                                            </span>
                                            <small>(160.753)</small>
                                        </div>
                                        <div>
                                            <small>723.841 views</small>
                                        </div>
                                        <div>
                                            <small>Website development</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <span class="card-price">
                                        <i class="fa-solid fa-dollar"></i>
                                        <span class="price-number">182</span>
                                        <i class="fa-solid fa-arrow-right"></i>
                                        <b class="sale-number">
                                            <i class="fa-solid fa-dollar"></i>
                                            <span>99</span>
                                        </b>
                                    </span>
                                    <span class="card-clock">
                                        <i class="fa-regular fa-clock"></i>
                                        <span>16-12-2022</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="course-card">
                            <div class="course-card-overlay">
                                <button class="button-cs">More Details</button>
                            </div>
                            <img
                                src="/assets/images/home/course-list/card/courseimage.png"
                                class="course-card-img"
                                alt="course-img"
                            />
                            <div class="card-main">
                                <h1 class="card-heading">The Complete Javascript
                                    Course: Version 1</h1>
                                <div class="card-author">
                                    <i class="fa-solid fa-user-pen"></i>
                                    <span>Jonas Schmedtmann</span>
                                </div>
                                <div class="card-details-ls">
                                    <div class="card-details-ls-icon">
                                        <span><b>4.6</b></span>
                                        <span><i
                                                class="fa-regular fa-eye"
                                            ></i></span>
                                        <span><i
                                                class="fa-solid fa-tag"
                                            ></i></span>
                                    </div>
                                    <div class="card-details-ls-content">
                                        <div class="card-details-ls-item">
                                            <span class="flex g-0">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i
                                                    class="fa-solid fa-star-half-stroke"
                                                ></i>
                                            </span>
                                            <small>(160.753)</small>
                                        </div>
                                        <div>
                                            <small>723.841 views</small>
                                        </div>
                                        <div>
                                            <small>Website development</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <span class="card-price">
                                        <i class="fa-solid fa-dollar"></i>
                                        <span class="price-number">182</span>
                                        <i class="fa-solid fa-arrow-right"></i>
                                        <b class="sale-number">
                                            <i class="fa-solid fa-dollar"></i>
                                            <span>99</span>
                                        </b>
                                    </span>
                                    <span class="card-clock">
                                        <i class="fa-regular fa-clock"></i>
                                        <span>16-12-2022</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="course-card">
                            <div class="course-card-overlay">
                                <button class="button-cs">More Details</button>
                            </div>
                            <img
                                src="/assets/images/home/course-list/card/courseimage.png"
                                class="course-card-img"
                                alt="course-img"
                            />
                            <div class="card-main">
                                <h1 class="card-heading">The Complete Javascript
                                    Course: Version 1</h1>
                                <div class="card-author">
                                    <i class="fa-solid fa-user-pen"></i>
                                    <span>Jonas Schmedtmann</span>
                                </div>
                                <div class="card-details-ls">
                                    <div class="card-details-ls-icon">
                                        <span><b>4.6</b></span>
                                        <span><i
                                                class="fa-regular fa-eye"
                                            ></i></span>
                                        <span><i
                                                class="fa-solid fa-tag"
                                            ></i></span>
                                    </div>
                                    <div class="card-details-ls-content">
                                        <div class="card-details-ls-item">
                                            <span class="flex g-0">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i
                                                    class="fa-solid fa-star-half-stroke"
                                                ></i>
                                            </span>
                                            <small>(160.753)</small>
                                        </div>
                                        <div>
                                            <small>723.841 views</small>
                                        </div>
                                        <div>
                                            <small>Website development</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <span class="card-price">
                                        <i class="fa-solid fa-dollar"></i>
                                        <span class="price-number">182</span>
                                        <i class="fa-solid fa-arrow-right"></i>
                                        <b class="sale-number">
                                            <i class="fa-solid fa-dollar"></i>
                                            <span>99</span>
                                        </b>
                                    </span>
                                    <span class="card-clock">
                                        <i class="fa-regular fa-clock"></i>
                                        <span>16-12-2022</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="course-card">
                            <div class="course-card-overlay">
                                <button class="button-cs">More Details</button>
                            </div>
                            <img
                                src="/assets/images/home/course-list/card/courseimage.png"
                                class="course-card-img"
                                alt="course-img"
                            />
                            <div class="card-main">
                                <h1 class="card-heading">The Complete Javascript
                                    Course: Version 1</h1>
                                <div class="card-author">
                                    <i class="fa-solid fa-user-pen"></i>
                                    <span>Jonas Schmedtmann</span>
                                </div>
                                <div class="card-details-ls">
                                    <div class="card-details-ls-icon">
                                        <span><b>4.6</b></span>
                                        <span><i
                                                class="fa-regular fa-eye"
                                            ></i></span>
                                        <span><i
                                                class="fa-solid fa-tag"
                                            ></i></span>
                                    </div>
                                    <div class="card-details-ls-content">
                                        <div class="card-details-ls-item">
                                            <span class="flex g-0">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i
                                                    class="fa-solid fa-star-half-stroke"
                                                ></i>
                                            </span>
                                            <small>(160.753)</small>
                                        </div>
                                        <div>
                                            <small>723.841 views</small>
                                        </div>
                                        <div>
                                            <small>Website development</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <span class="card-price">
                                        <i class="fa-solid fa-dollar"></i>
                                        <span class="price-number">182</span>
                                        <i class="fa-solid fa-arrow-right"></i>
                                        <b class="sale-number">
                                            <i class="fa-solid fa-dollar"></i>
                                            <span>99</span>
                                        </b>
                                    </span>
                                    <span class="card-clock">
                                        <i class="fa-regular fa-clock"></i>
                                        <span>16-12-2022</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="course-card">
                            <div class="course-card-overlay">
                                <button class="button-cs">More Details</button>
                            </div>
                            <img
                                src="/assets/images/home/course-list/card/courseimage.png"
                                class="course-card-img"
                                alt="course-img"
                            />
                            <div class="card-main">
                                <h1 class="card-heading">The Complete Javascript
                                    Course: Version 1</h1>
                                <div class="card-author">
                                    <i class="fa-solid fa-user-pen"></i>
                                    <span>Jonas Schmedtmann</span>
                                </div>
                                <div class="card-details-ls">
                                    <div class="card-details-ls-icon">
                                        <span><b>4.6</b></span>
                                        <span><i
                                                class="fa-regular fa-eye"
                                            ></i></span>
                                        <span><i
                                                class="fa-solid fa-tag"
                                            ></i></span>
                                    </div>
                                    <div class="card-details-ls-content">
                                        <div class="card-details-ls-item">
                                            <span class="flex g-0">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i
                                                    class="fa-solid fa-star-half-stroke"
                                                ></i>
                                            </span>
                                            <small>(160.753)</small>
                                        </div>
                                        <div>
                                            <small>723.841 views</small>
                                        </div>
                                        <div>
                                            <small>Website development</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <span class="card-price">
                                        <i class="fa-solid fa-dollar"></i>
                                        <span class="price-number">182</span>
                                        <i class="fa-solid fa-arrow-right"></i>
                                        <b class="sale-number">
                                            <i class="fa-solid fa-dollar"></i>
                                            <span>99</span>
                                        </b>
                                    </span>
                                    <span class="card-clock">
                                        <i class="fa-regular fa-clock"></i>
                                        <span>16-12-2022</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="course-card">
                            <div class="course-card-overlay">
                                <button class="button-cs">More Details</button>
                            </div>
                            <img
                                src="/assets/images/home/course-list/card/courseimage.png"
                                class="course-card-img"
                                alt="course-img"
                            />
                            <div class="card-main">
                                <h1 class="card-heading">The Complete Javascript
                                    Course: Version 1</h1>
                                <div class="card-author">
                                    <i class="fa-solid fa-user-pen"></i>
                                    <span>Jonas Schmedtmann</span>
                                </div>
                                <div class="card-details-ls">
                                    <div class="card-details-ls-icon">
                                        <span><b>4.6</b></span>
                                        <span><i
                                                class="fa-regular fa-eye"
                                            ></i></span>
                                        <span><i
                                                class="fa-solid fa-tag"
                                            ></i></span>
                                    </div>
                                    <div class="card-details-ls-content">
                                        <div class="card-details-ls-item">
                                            <span class="flex g-0">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i
                                                    class="fa-solid fa-star-half-stroke"
                                                ></i>
                                            </span>
                                            <small>(160.753)</small>
                                        </div>
                                        <div>
                                            <small>723.841 views</small>
                                        </div>
                                        <div>
                                            <small>Website development</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <span class="card-price">
                                        <i class="fa-solid fa-dollar"></i>
                                        <span class="price-number">182</span>
                                        <i class="fa-solid fa-arrow-right"></i>
                                        <b class="sale-number">
                                            <i class="fa-solid fa-dollar"></i>
                                            <span>99</span>
                                        </b>
                                    </span>
                                    <span class="card-clock">
                                        <i class="fa-regular fa-clock"></i>
                                        <span>16-12-2022</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="course-card">
                            <div class="course-card-overlay">
                                <button class="button-cs">More Details</button>
                            </div>
                            <img
                                src="/assets/images/home/course-list/card/courseimage.png"
                                class="course-card-img"
                                alt="course-img"
                            />
                            <div class="card-main">
                                <h1 class="card-heading">The Complete Javascript
                                    Course: Version 1</h1>
                                <div class="card-author">
                                    <i class="fa-solid fa-user-pen"></i>
                                    <span>Jonas Schmedtmann</span>
                                </div>
                                <div class="card-details-ls">
                                    <div class="card-details-ls-icon">
                                        <span><b>4.6</b></span>
                                        <span><i
                                                class="fa-regular fa-eye"
                                            ></i></span>
                                        <span><i
                                                class="fa-solid fa-tag"
                                            ></i></span>
                                    </div>
                                    <div class="card-details-ls-content">
                                        <div class="card-details-ls-item">
                                            <span class="flex g-0">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i
                                                    class="fa-solid fa-star-half-stroke"
                                                ></i>
                                            </span>
                                            <small>(160.753)</small>
                                        </div>
                                        <div>
                                            <small>723.841 views</small>
                                        </div>
                                        <div>
                                            <small>Website development</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <span class="card-price">
                                        <i class="fa-solid fa-dollar"></i>
                                        <span class="price-number">182</span>
                                        <i class="fa-solid fa-arrow-right"></i>
                                        <b class="sale-number">
                                            <i class="fa-solid fa-dollar"></i>
                                            <span>99</span>
                                        </b>
                                    </span>
                                    <span class="card-clock">
                                        <i class="fa-regular fa-clock"></i>
                                        <span>16-12-2022</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="course-card">
                            <div class="course-card-overlay">
                                <button class="button-cs">More Details</button>
                            </div>
                            <img
                                src="/assets/images/home/course-list/card/courseimage.png"
                                class="course-card-img"
                                alt="course-img"
                            />
                            <div class="card-main">
                                <h1 class="card-heading">The Complete Javascript
                                    Course: Version 1</h1>
                                <div class="card-author">
                                    <i class="fa-solid fa-user-pen"></i>
                                    <span>Jonas Schmedtmann</span>
                                </div>
                                <div class="card-details-ls">
                                    <div class="card-details-ls-icon">
                                        <span><b>4.6</b></span>
                                        <span><i
                                                class="fa-regular fa-eye"
                                            ></i></span>
                                        <span><i
                                                class="fa-solid fa-tag"
                                            ></i></span>
                                    </div>
                                    <div class="card-details-ls-content">
                                        <div class="card-details-ls-item">
                                            <span class="flex g-0">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i
                                                    class="fa-solid fa-star-half-stroke"
                                                ></i>
                                            </span>
                                            <small>(160.753)</small>
                                        </div>
                                        <div>
                                            <small>723.841 views</small>
                                        </div>
                                        <div>
                                            <small>Website development</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <span class="card-price">
                                        <i class="fa-solid fa-dollar"></i>
                                        <span class="price-number">182</span>
                                        <i class="fa-solid fa-arrow-right"></i>
                                        <b class="sale-number">
                                            <i class="fa-solid fa-dollar"></i>
                                            <span>99</span>
                                        </b>
                                    </span>
                                    <span class="card-clock">
                                        <i class="fa-regular fa-clock"></i>
                                        <span>16-12-2022</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="course-card">
                            <div class="course-card-overlay">
                                <button class="button-cs">More Details</button>
                            </div>
                            <img
                                src="/assets/images/home/course-list/card/courseimage.png"
                                class="course-card-img"
                                alt="course-img"
                            />
                            <div class="card-main">
                                <h1 class="card-heading">The Complete Javascript
                                    Course: Version 1</h1>
                                <div class="card-author">
                                    <i class="fa-solid fa-user-pen"></i>
                                    <span>Jonas Schmedtmann</span>
                                </div>
                                <div class="card-details-ls">
                                    <div class="card-details-ls-icon">
                                        <span><b>4.6</b></span>
                                        <span><i
                                                class="fa-regular fa-eye"
                                            ></i></span>
                                        <span><i
                                                class="fa-solid fa-tag"
                                            ></i></span>
                                    </div>
                                    <div class="card-details-ls-content">
                                        <div class="card-details-ls-item">
                                            <span class="flex g-0">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i
                                                    class="fa-solid fa-star-half-stroke"
                                                ></i>
                                            </span>
                                            <small>(160.753)</small>
                                        </div>
                                        <div>
                                            <small>723.841 views</small>
                                        </div>
                                        <div>
                                            <small>Website development</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <span class="card-price">
                                        <i class="fa-solid fa-dollar"></i>
                                        <span class="price-number">182</span>
                                        <i class="fa-solid fa-arrow-right"></i>
                                        <b class="sale-number">
                                            <i class="fa-solid fa-dollar"></i>
                                            <span>99</span>
                                        </b>
                                    </span>
                                    <span class="card-clock">
                                        <i class="fa-regular fa-clock"></i>
                                        <span>16-12-2022</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button
                    class="carousel-control-prev"
                    type="button"
                >
                    <i class="fa-solid fa-chevron-left"></i>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button
                    class="carousel-control-next"
                    type="button"
                >
                    <i class="fa-solid fa-chevron-right"></i>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <script>
            const carouselWidth = $("#carouselMostView.carousel.slide.course-ls > .carousel-inner")[0].scrollWidth;
            const cardWidth = $("#carouselMostView.carousel.slide.course-ls > .carousel-inner > .carousel-item").width() + 16;
            let scrollPosition = 0;

            $("#carouselMostView.carousel.slide.course-ls .carousel-control-next").on("click", function () {
                if (scrollPosition < (carouselWidth - cardWidth * 4)) {
                    scrollPosition += cardWidth;
                    $("#carouselMostView.carousel.slide.course-ls > .carousel-inner").animate({ scrollLeft: scrollPosition }, 500); //scroll left
                }
            });
            $("#carouselMostView.carousel.slide.course-ls .carousel-control-prev").on("click", function () {
                if (scrollPosition > 0) {
                    scrollPosition -= cardWidth;
                    $("#carouselMostView.carousel.slide.course-ls > .carousel-inner").animate({ scrollLeft: scrollPosition }, 500);
                }
            });
        </script>
    </div>
</main>