<div class = "my-side-bar">
    <a href="/dashboard"><img src="/assets/svg/instructor/dashboard.svg" alt="dashboard">Dashboard</a>
    <a href="/my-courses"><img src="/assets/svg/instructor/mycourse.svg" alt="mycourse">My Courses</a>
    <a href="/enrolled-courses"><img src="/assets/svg/instructor/enrolledcourse.svg" alt="enrolled-course">Enrolled Course</a>
    <a href="/watch-history"><img src="/assets/svg/instructor/watchhistory.svg" alt="watch-history">Watch History</a>
    <a href="/sales"><img src="/assets/svg/instructor/sale.svg" alt="sale">Sales</a>
    <a href="/my-profile"><img src="/assets/svg/instructor/profile.svg" alt="profile">Profile</a>
    <span class= "go-to">GO TO</span>
    <a href="/home"><img src="/assets/svg/instructor/home.svg" alt="home">Home</a>
</div>
{{!-- table data --}}
<div class = "my-course">
<div class = "heading">
    <span>My Courses</span>
    <button class = "new-course-btn"> <img src="/assets/svg/instructor/newcourse.svg" alt="new-course"> New Course</button>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th width="4%" scope="col">#</th>
      <th width="30%" scope="col">Title</th>
      <th width="12%"scope="col">Category</th>
      <th width="5%" scope="col">Price</th>
      <th  width="10%" scope="col">Date released</th>
      <th width="5%"  scope="col">Status</th>
      <th width="2%"></th>
      <th width="2%"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>The Complete 2023 Web Development Bootcamp</td>
      <td>Web development</td>
      <td><span class = "dollar">$</span>99</td>
      <td>2022-12-31</td>
      <td><img src="/assets/svg/instructor/finish.svg" alt="finish"></td>
      <td><button class = "edit-btn"><img src="/assets/svg/instructor/edit.svg" alt="edit"></button></td>
      <td><button class = "delete-btn"><img src="/assets/svg/instructor/delete.svg" alt="delete"></button></td>
    </tr>
      <tr>
      <th scope="row">2</th>
      <td>The Complete 2023 Web Development Bootcamp</td>
      <td>Web development</td>
         <td><span class = "dollar">$</span>99</td>
      <td>2022-12-31</td>
      <td><img src="/assets/svg/instructor/unfinished.svg" alt="unfinished"></td>
      <td><button class = "edit-btn"><img src="/assets/svg/instructor/edit.svg" alt="edit"></button></td>
      <td><button class = "delete-btn"><img src="/assets/svg/instructor/delete.svg" alt="delete"></button></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>The Complete 2023 Web Development Bootcamp</td>
      <td>Web development</td>
         <td><span class = "dollar">$</span>99</td>
      <td>2022-12-31</td>
       <td><img src="/assets/svg/instructor/finish.svg" alt="finish"></td>
      <td><button class = "edit-btn"><img src="/assets/svg/instructor/edit.svg" alt="edit"></button></td>
      <td><button class = "delete-btn"><img src="/assets/svg/instructor/delete.svg" alt="delete"></button></td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>The Complete 2023 Web Development Bootcamp</td>
      <td>Web development</td>
         <td><span class = "dollar">$</span>99</td>
      <td>2022-12-31</td>
       <td><img src="/assets/svg/instructor/finish.svg" alt="finish"></td>
      <td><button class = "edit-btn"><img src="/assets/svg/instructor/edit.svg" alt="edit"></button></td>
      <td><button class = "delete-btn"><img src="/assets/svg/instructor/delete.svg" alt="delete"></button></td>
    </tr>
     <tr>
      <th scope="row">5</th>
      <td>The Complete 2023 Web Development Bootcamp</td>
      <td>Web development</td>
         <td><span class = "dollar">$</span>99</td>
      <td>2022-12-31</td>
      <td><img src="/assets/svg/instructor/finish.svg" alt="finish"></td>
      <td><button class = "edit-btn"><img src="/assets/svg/instructor/edit.svg" alt="edit"></button></td>
      <td><button class = "delete-btn"><img src="/assets/svg/instructor/delete.svg" alt="delete"></button></td>
    </tr>
     <tr>
      <th scope="row">6</th>
      <td>The Complete 2023 Web Development Bootcamp</td>
      <td>Web development</td>
         <td><span class = "dollar">$</span>99</td>
      <td>2022-12-31</td>
      <td><img src="/assets/svg/instructor/unfinished.svg" alt="unfinished"></td>
      <td><button class = "edit-btn"><img src="/assets/svg/instructor/edit.svg" alt="edit"></button></td>
      <td><button class = "delete-btn"><img src="/assets/svg/instructor/delete.svg" alt="delete"></button></td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>The Complete 2023 Web Development Bootcamp</td>
      <td>Web development</td>
         <td><span class = "dollar">$</span>99</td>
      <td>2022-12-31</td>
       <td><img src="/assets/svg/instructor/unfinished.svg" alt="unfinished"></td>
      <td><button class = "edit-btn"><img src="/assets/svg/instructor/edit.svg" alt="edit"></button></td>
      <td><button class = "delete-btn"><img src="/assets/svg/instructor/delete.svg" alt="delete"></button></td>
    </tr>
    <tr>
      <th scope="row">8</th>
      <td>The Complete 2023 Web Development Bootcamp</td>
      <td>Web development</td>
         <td><span class = "dollar">$</span>99</td>
      <td>2022-12-31</td>
       <td><img src="/assets/svg/instructor/unfinished.svg" alt="unfinished"></td>
      <td><button class = "edit-btn"><img src="/assets/svg/instructor/edit.svg" alt="edit"></button></td>
      <td><button class = "delete-btn"><img src="/assets/svg/instructor/delete.svg" alt="delete"></button></td>
    </tr>
        <tr>
      <th scope="row">9</th>
      <td>The Complete 2023 Web Development Bootcamp</td>
      <td>Web development</td>
         <td><span class = "dollar">$</span>99</td>
      <td>2022-12-31</td>
       <td><img src="/assets/svg/instructor/unfinished.svg" alt="finish"></td>
      <td><button class = "edit-btn"><img src="/assets/svg/instructor/edit.svg" alt="edit"></button></td>
      <td><button class = "delete-btn"><img src="/assets/svg/instructor/delete.svg" alt="delete"></button></td>
    </tr>
     <tr>
      <th scope="row">10</th>
      <td>The Complete 2023 Web Development Bootcamp</td>
      <td>Web development</td>
         <td><span class = "dollar">$</span>99</td>
      <td>2022-12-31</td>
       <td><img src="/assets/svg/instructor/finish.svg" alt="finish"></td>
      <td><button class = "edit-btn"><img src="/assets/svg/instructor/edit.svg" alt="edit"></button></td>
      <td><button class = "delete-btn"><img src="/assets/svg/instructor/delete.svg" alt="delete"></button></td>
    </tr>
  </tbody>
</table>
</div>
